Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

lefthook.yml:

# Lefthook Configuration
# Using existing validation scripts

pre-commit:
  parallel: true
  commands:
    # Code formatting and linting
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

    # Package.json sorting
    sort-package-json:
      glob: "**/{package.json}"
      exclude: "node_modules/**"
      run: pnpm dlx sort-package-json {staged_files}
      stage_fixed: true

    # MDX content validation
    check-frontmatter:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

    check-mdx-length:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

    # TypeScript as casts validation
    check-as-casts:
      glob: "**/*.{ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-as-casts.js {staged_files}

    # Barrel files validation
    check-barrel-files:
      glob: "**/index.{js,ts,jsx,tsx}"
      exclude: "**/node_modules/**"
      run: node scripts/validation/check-barrel-files.js {staged_files}

    # Console logs validation
    check-console-logs:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
        - "scripts/**"
        - "**/scripts/**"
        - "packages/validators/**"
        - "**/packages/validators/**"
        - "packages/generator/**"
        - "**/packages/generator/**"
        - "packages/cli/**"
        - "**/packages/cli/**"
      run: node scripts/validation/check-console-logs.js {staged_files}

    # Directory structure validation
    check-directory-structure:
      run: node scripts/validation/check-directory-structure.js

    # File complexity validation
    check-file-complexity:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-file-complexity.js {staged_files}

    # JSDoc validation
    check-jsdoc:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-jsdoc.js {staged_files}

    # Relative imports validation
    check-relative-imports:
      glob: "apps/web/**/*.{ts,tsx,js,jsx}"
      exclude: "apps/web/**/node_modules/**"
      run: pnpm tsx scripts/check-relative-imports.ts {staged_files}

    # Test modified test files
    test-modified:
      glob: "apps/web/**/*.{test,spec}.{js,ts,tsx}"
      run: cd apps/web && pnpm test:related {staged_files}

# Pre-push validation
pre-push:
  commands:
    # Run tests
    test-all:
      run: turbo test --filter=web

# Commit message validation
commit-msg:
  commands:
    lint-commit-message:
      run: pnpm commitlint --edit {1}

fix(build): add next as peer dependency to rate-limiting package
  packages/rate-limiting/package.json
  pnpm-lock.yaml
Due: check

fix(build): suppress Turbopack NFT tracing warning for process.cwd()
  apps/web/app/websites/[slug]/[file]/route.ts
  apps/web/public/search/search-index.json
  packages/cli/data/registry.json
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(build): add @openpanel/web as direct dependency of analytics package
  packages/analytics/package.json
  pnpm-lock.yaml
Due: check

fix(build): add next peerDependencies to all internal packages
  configs/next/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/flags/package.json
  pnpm-lock.yaml
Due: check

fix(deps): move next from dependencies to devDependencies in analytics and auth
  packages/analytics/package.json
  packages/auth/package.json
  pnpm-lock.yaml
Due: check

Add Arena Collection to llms.txt directory
  packages/content/data/websites/arena-collection-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Arena One 99 Glamping | Pomer to llms.txt directory
  packages/content/data/websites/arena-one-99-glamping-pomer-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Cybersecurity aus Deutschland to llms.txt directory
  packages/content/data/websites/cybersecurity-aus-deutschland-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Quantum Programming Studio to llms.txt directory
  packages/content/data/websites/quantum-programming-studio-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add vBrief | Project Decisions to llms.txt directory
  packages/content/data/websites/vbrief-project-decisions-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: ci no such file in auto-merge
  .github/workflows/pr-automerge.yml
Due: none

fix: update broken LLMs.txt Generator link
  README.md
Due: none

Add Sonicker to llms.txt directory
  packages/content/data/websites/sonicker-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add mailbox.bot — CMRA postal mail infrastructure for AI agents
  packages/content/data/websites/mailbox-bot-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add home-llms-txt.mdx to llms.txt directory
  packages/content/data/websites/home-llms-txt-mdx-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(content): update MapleBridge.io to North America positioning
  packages/content/data/websites/maplebridge-io-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Arena Hotels&Resorts Pula to llms.txt directory
  packages/content/data/websites/arena-hotels-resorts-pula-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Arena Campsites & Mobile Homes to llms.txt directory
  packages/content/data/websites/arena-campsites-mobile-homes-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Arena Franz Ferdinand Nassfeld to llms.txt directory
  packages/content/data/websites/arena-franz-ferdinand-nassfeld-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Arena Grand Kazela Campsite to llms.txt directory
  packages/content/data/websites/arena-grand-kazela-campsite-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Grand Hotel Brioni to llms.txt directory
  packages/content/data/websites/grand-hotel-brioni-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Fix MapleBridge entry positioning for North America
  packages/content/data/websites/maplebridge-io-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add AppraisalAPI to llms.txt directory
  packages/content/data/websites/appraisalapi-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(ci): skip blocked PR auto-merge attempts
  .github/workflows/pr-automerge.yml
Due: none

Add Corporate LMS to llms.txt directory
  packages/content/data/websites/corporate-lms-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Seyare to llms.txt directory
  packages/content/data/websites/seyare-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Parhaat vedonlyöntiyhtiöt to llms.txt directory
  packages/content/data/websites/parhaat-vedonlyontiyhtiot-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Top Caribbean Medical School to llms.txt directory
  packages/content/data/websites/top-caribbean-medical-school-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

chore: update workspace metadata and PR copy
  AGENTS.md
  apps/web/actions/submit-llms-xxt.ts
  skills-lock.json
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: auto-merge workflow for blocked PRs (#815)
  .github/workflows/pr-automerge.yml
  AGENTS.md
  apps/web/actions/submit-llms-xxt.ts
  skills-lock.json
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

Add Whoisbg.com to llms.txt directory
  packages/content/data/websites/whoisbg-com-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Trade Show Displays Canada to llms.txt directory
  packages/content/data/websites/trade-show-displays-canada-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add AssessNow to llms.txt directory
  packages/content/data/websites/assessnow-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Dailii to llms.txt directory
  packages/content/data/websites/dailii-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

add: BitAtlas - Zero Knowledge Cloud Drive for Humans and Agents
  packages/content/data/websites/bitatlas-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add AGNTPOD to llms.txt hub
  packages/content/data/websites/agntpod-community-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add OpenJuno to llms.txt hub
  packages/content/data/websites/openjuno-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Indochina Tours to llms.txt directory
  packages/content/data/websites/indochina-tours-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add One Mental Hub to llms.txt directory
  packages/content/data/websites/one-mental-hub-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Remote tech jobs for engineers to llms.txt directory
  packages/content/data/websites/remote-tech-jobs-for-engineers-llms-txt.mdx
Due: check-frontmatter, check-mdx-length
