Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check-frontmatter:
  run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

check-mdx-length:
  run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

check-as-casts:
  run: node scripts/validation/check-as-casts.js {staged_files}

check-console-logs:
  run: node scripts/validation/check-console-logs.js {staged_files}

check-file-complexity:
  run: node scripts/validation/check-file-complexity.js {staged_files}

check-jsdoc:
  run: node scripts/validation/check-jsdoc.js {staged_files}

test-modified:
  run: cd apps/web && pnpm test:related {staged_files}

Add Qutahia Jewelry AI Feed to llms.txt directory (#760)
  packages/content/data/websites/qutahia-jewelry-ai-feed-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Haruspex to llms.txt hub (#764)
  packages/content/data/websites/haruspex-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add gray.gift to llms.txt directory (#763)
  packages/content/data/websites/gray-gift-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Hilary Olson to llms.txt directory
  packages/content/data/websites/hilary-olson-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

chore: remove Plausible analytics support entirely
  AGENTS.md
  apps/web/app/layout.tsx
  apps/web/components/forms/email-subscription-form.tsx
  apps/web/components/forms/submit-form-step1.tsx
  apps/web/components/forms/submit-form-step2.tsx
  apps/web/components/layout/app-sidebar.tsx
  apps/web/components/layout/footer.tsx
  apps/web/components/layout/header-nav-link.tsx
  apps/web/components/layout/header-user-menu.tsx
  apps/web/components/layout/header.tsx
  apps/web/components/members/members-list.tsx
  apps/web/components/sections/hero-section.tsx
  apps/web/components/stats/github-stars.tsx
  apps/web/components/ui/analytics-link.tsx
  apps/web/components/ui/favorites-link.tsx
  apps/web/lib/analytics-helpers.ts
  apps/web/lib/analytics-proxy.ts
  apps/web/lib/analytics.ts
  apps/web/next-env.d.ts
  apps/web/next.config.ts
  apps/web/proxy.ts
  configs/next/index.ts
  packages/analytics/README.md
  packages/analytics/head.tsx
  packages/analytics/index.tsx
  packages/analytics/package.json
  packages/analytics/providers/plausible.tsx
  packages/content/data/legal/cookies.mdx
  packages/content/data/legal/privacy.mdx
  pnpm-lock.yaml
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

feat: add Satori Defense to llms.txt directory
  data/websites.json
Due: check

Add Hilary Olson to llms.txt directory (#766)
  packages/content/data/websites/hilary-olson-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Smailander to llms.txt directory (#762)
  packages/content/data/websites/smailander-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add FinalBit - All to llms.txt directory (#761)
  packages/content/data/websites/finalbit-all-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add WP Căn bản to llms.txt directory
  packages/content/data/websites/wp-can-ban-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add VetAthletics GmbH to llms.txt directory
  packages/content/data/websites/vetathletics-gmbh-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add VetAthletics Schweiz GmbH to llms.txt directory
  packages/content/data/websites/vetathletics-schweiz-gmbh-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add ARCADEON Seminarhotel in Hagen to llms.txt directory
  packages/content/data/websites/arcadeon-seminarhotel-in-hagen-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Dust Collection | Ecogate, Inc to llms.txt directory
  packages/content/data/websites/dust-collection-ecogate-inc-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add OneKural to llms.txt directory
  packages/content/data/websites/onekural-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Chaterimo: GenAI Chatbot to llms.txt directory
  packages/content/data/websites/chaterimo-genai-chatbot-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Secuodsoft to llms.txt directory
  packages/content/data/websites/secuodsoft-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Ηλεκτρική θέρμανση Atlantic to llms.txt directory
  packages/content/data/websites/atlantic-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add AskWeather.ai to llms.txt directory
  packages/content/data/websites/askweather-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Quantastica to llms.txt directory
  packages/content/data/websites/quantastica-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add AI that actually knows you to llms.txt directory
  packages/content/data/websites/ai-that-actually-knows-you-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Stockfilm Vintage Footage to llms.txt directory
  packages/content/data/websites/stockfilm-vintage-footage-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add LLMGenerator to llms.txt directory
  packages/content/data/websites/llmgenerator-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add LLMGenerator to llms.txt directory (#786)
  packages/content/data/websites/llmgenerator-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

docs: update llms.txt list [skip ci] (#696)
  README.md
Due: none

Add claude-scaffold to llms-txt-hub
  packages/content/data/websites/claude-scaffold-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add sterbeurkunde.com llms.txt
  packages/content/websites/data/sterbeurkunde-com-llms-txt.mdx
Due: none

fix: remove empty llmsFullUrl field per review
  packages/content/websites/data/sterbeurkunde-com-llms-txt.mdx
Due: none

Add FleetProxy to llms.txt directory
  packages/content/data/websites/fleetproxy-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add llmstxt.studio to llms.txt directory
  packages/content/data/websites/llmstxt-studio-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add superchargebrowser to llms.txt directory
  packages/content/data/websites/superchargebrowser-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add SHELAN to llms.txt directory
  packages/content/data/websites/shelan-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Find Your Next SaaS to llms.txt directory
  packages/content/data/websites/find-your-next-saas-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Assured Weight Loss Meds to llms.txt directory
  packages/content/data/websites/assured-weight-loss-meds-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add realtytracka to llms.txt directory
  packages/content/data/websites/realtytracka-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: automerge
  .github/workflows/pr-automerge.yml
Due: none

fix(test): update proxy route test to match current OpenPanel route paths
  apps/web/__tests__/proxy-public-routes.test.ts
Due: check, test-modified

feat: upgrade Next.js to 16.2 with performance and DX improvements
  apps/web/app/error.tsx
  apps/web/app/global-error.tsx
  apps/web/components/layout/header.tsx
  apps/web/lib/__tests__/analytics-proxy.test.ts
  apps/web/next.config.ts
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

chore: move website MDX files to correct directory and add skills-lock
  packages/content/data/websites/ai-consulting-llms-txt.mdx
  packages/content/data/websites/alcazar-sec-llms-txt.mdx
  packages/content/data/websites/bananai-llms-txt.mdx
  packages/content/data/websites/dc-hub-data-center-intelligence-llms-txt.mdx
  packages/content/data/websites/eremedium-llms-txt.mdx
  packages/content/websites/data/ai-consulting-llms-txt.mdx
  skills-lock.json
Due: check, check-frontmatter, check-mdx-length

fix(build): inline OpenPanel proxy to avoid transitive dependency resolution failure
  apps/web/app/api/op/[...path]/route.ts
  apps/web/next-env.d.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-frontmatter: any of: packages/content/data/websites/*.mdx
  check-mdx-length: any of: packages/content/data/websites/*.mdx
  check-as-casts: any of: **/*.{ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-console-logs: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*, scripts/**, **/scripts/**, packages/validators/**, **/packages/validators/**, packages/generator/**, **/packages/generator/**, packages/cli/**, **/packages/cli/**
  check-file-complexity: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-jsdoc: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  test-modified: any of: apps/web/**/*.{test,spec}.{js,ts,tsx}
