Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check-frontmatter:
  run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

check-mdx-length:
  run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

check-as-casts:
  run: node scripts/validation/check-as-casts.js {staged_files}

check-console-logs:
  run: node scripts/validation/check-console-logs.js {staged_files}

check-file-complexity:
  run: node scripts/validation/check-file-complexity.js {staged_files}

check-jsdoc:
  run: node scripts/validation/check-jsdoc.js {staged_files}

test-modified:
  run: cd apps/web && pnpm test:related {staged_files}

Add Atabas Grup to llms.txt directory
  packages/content/data/websites/atabas-grup-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Tevlo to llms.txt directory
  packages/content/data/websites/tevlo-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Receipt Converter to llms.txt directory
  packages/content/data/websites/receipt-converter-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add CerebrusPulse to llms.txt hub
  packages/content/data/websites/cerebruspulse-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add HappyEndpoint to llms.txt directory
  packages/content/data/websites/happyendpoint-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add expressextension to llms.txt directory
  packages/content/data/websites/expressextension-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Cloud Studio IoT to llms.txt directory
  packages/content/data/websites/cloud-studio-iot-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Free online calculation tools to llms.txt directory
  packages/content/data/websites/free-online-calculation-tools-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Gratis kalkulatorer på nett to llms.txt directory
  packages/content/data/websites/gratis-kalkulatorer-pa-nett-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add skaiciuoti to llms.txt directory
  packages/content/data/websites/skaiciuoti-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Big Neurons to llms.txt directory
  packages/content/data/websites/big-neurons-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Aurelio Benedí to llms.txt directory
  packages/content/data/websites/aurelio-benedi-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Heykel Yapımı ve Siparişi to llms.txt directory
  packages/content/data/websites/heykel-yap-m-ve-siparisi-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Buy Personalized Pop Up Tents to llms.txt directory
  packages/content/data/websites/buy-personalized-pop-up-tents-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Trade Show Displays & Banners to llms.txt directory
  packages/content/data/websites/trade-show-displays-banners-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Trade Show Displays Canada to llms.txt directory
  packages/content/data/websites/trade-show-displays-canada-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Custom Displays & Canopies to llms.txt directory
  packages/content/data/websites/custom-displays-canopies-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add WRP Detailing Studio to llms.txt directory
  packages/content/data/websites/wrp-detailing-studio-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Purple Flea to websites.json
  data/websites.json
Due: check

Add Automatio AI to llms.txt directory
  packages/content/data/websites/automatio-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(data): add Claw-Stack — AI agent governance research platform
  data/websites.json
Due: check

fix: use MDX source file instead of editing generated JSON
  data/websites.json
  packages/content/data/websites/claw-stack-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

feat(data): add Claw-Stack — AI agent governance research platform (#722)
  packages/content/data/websites/claw-stack-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add lifewithai.ai — speculative fiction + engineering knowledge base
  packages/content/data/websites/lifewithai-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Idapixl Cortex to llms.txt directory
  packages/content/websites/data/idapixl-cortex-llms-txt.mdx
Due: none

Remove empty llmsFullUrl field per CodeRabbit review
  packages/content/websites/data/idapixl-cortex-llms-txt.mdx
Due: none

Add Britek Solar (UK) to llms.txt directory
  packages/content/data/websites/britek-solar-uk-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add TryOpenClaw.ai to directory
  data/websites.json
Due: check

Fix: use MDX source file instead of editing generated websites.json
  data/websites.json
  packages/content/data/websites/tryopenclaw-ai-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

Add Posicionamiento Web Barcelona to llms.txt directory
  packages/content/data/websites/posicionamiento-web-barcelona-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Create alcazar-sec-llms-txt.mdx
  packages/content/data/websites/alcazar-sec-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Update alcazar-sec-llms-txt.mdx
  packages/content/data/websites/alcazar-sec-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add FIRERPA to llms.txt directory
  packages/content/data/websites/firerpa-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Next Adv to llms.txt directory
  packages/content/data/websites/next-adv-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Soften specific counts to durable language
  packages/content/data/websites/lifewithai-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(web): restore csrf protection for extension feedback
  apps/web/__tests__/middleware-public-routes.test.ts
  apps/web/app/extension/uninstall/__tests__/uninstall-feedback-form.test.tsx
  apps/web/app/extension/uninstall/uninstall-feedback-form.tsx
  apps/web/middleware.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat(community): add Acurast hub to llms.txt hub
  packages/content/data/websites/acurast-hub-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add cloud-latitude-GCN2026-raffle to llms.txt directory
  packages/content/data/websites/cloud-latitude-gcn2026-raffle-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: move entry to correct content directory
  packages/content/data/websites/idapixl-cortex-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Latuos to llms.txt directory
  packages/content/data/websites/latuos-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-frontmatter: any of: packages/content/data/websites/*.mdx
  check-mdx-length: any of: packages/content/data/websites/*.mdx
  check-as-casts: any of: **/*.{ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-console-logs: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*, scripts/**, **/scripts/**, packages/validators/**, **/packages/validators/**, packages/generator/**, **/packages/generator/**, packages/cli/**, **/packages/cli/**
  check-file-complexity: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-jsdoc: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  test-modified: any of: apps/web/**/*.{test,spec}.{js,ts,tsx}
