Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

lefthook.yml:

# Lefthook Configuration
# Using existing validation scripts

pre-commit:
  parallel: true
  commands:
    # Code formatting and linting
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

    # Package.json sorting
    sort-package-json:
      glob: "**/{package.json}"
      exclude: "node_modules/**"
      run: pnpm dlx sort-package-json {staged_files}
      stage_fixed: true

    # MDX content validation
    check-frontmatter:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

    check-mdx-length:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

    # TypeScript as casts validation
    check-as-casts:
      glob: "**/*.{ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-as-casts.js {staged_files}

    # Barrel files validation
    check-barrel-files:
      glob: "**/index.{js,ts,jsx,tsx}"
      exclude: "**/node_modules/**"
      run: node scripts/validation/check-barrel-files.js {staged_files}

    # Console logs validation
    check-console-logs:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
        - "scripts/**"
        - "**/scripts/**"
        - "packages/validators/**"
        - "**/packages/validators/**"
        - "packages/generator/**"
        - "**/packages/generator/**"
        - "packages/cli/**"
        - "**/packages/cli/**"
      run: node scripts/validation/check-console-logs.js {staged_files}

    # Directory structure validation
    check-directory-structure:
      run: node scripts/validation/check-directory-structure.js

    # File complexity validation
    check-file-complexity:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-file-complexity.js {staged_files}

    # JSDoc validation
    check-jsdoc:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-jsdoc.js {staged_files}

    # Relative imports validation
    check-relative-imports:
      glob: "apps/web/**/*.{ts,tsx,js,jsx}"
      exclude: "apps/web/**/node_modules/**"
      run: pnpm tsx scripts/check-relative-imports.ts {staged_files}

    # Test modified test files
    test-modified:
      glob: "apps/web/**/*.{test,spec}.{js,ts,tsx}"
      run: cd apps/web && pnpm test:related {staged_files}

# Pre-push validation
pre-push:
  commands:
    # Run tests
    test-all:
      run: turbo test --filter=web

# Commit message validation
commit-msg:
  commands:
    lint-commit-message:
      run: pnpm commitlint --edit {1}

fix: secure submission recovery and intake
  .github/workflows/pr-intake.yml
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/lib/submissions/submission-plain-text.ts
  apps/web/lib/submissions/submission-publication-state.test.ts
  apps/web/lib/submissions/submission-publication-state.ts
  apps/web/lib/submissions/submission-publisher.test.ts
  apps/web/lib/submissions/submission-publisher.ts
  apps/web/lib/submissions/submission-state-lua.test.ts
  apps/web/lib/submissions/submission-state-security.ts
  apps/web/lib/submissions/submission-state.test.ts
  apps/web/lib/submissions/submission-state.ts
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: recover leased final assessments
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/lib/submissions/submission-plain-text.ts
  apps/web/lib/submissions/submission-publication-state.test.ts
  apps/web/lib/submissions/submission-publication-state.ts
  apps/web/lib/submissions/submission-publisher.test.ts
  apps/web/lib/submissions/submission-state-lua.test.ts
  apps/web/lib/submissions/submission-state-security.ts
  apps/web/lib/submissions/submission-state.test.ts
  apps/web/lib/submissions/submission-state.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: preserve submission metadata and recovery
  apps/web/lib/submissions/submission-plain-text.ts
  apps/web/lib/submissions/submission-publication-state.test.ts
  apps/web/lib/submissions/submission-publication-state.ts
  apps/web/lib/submissions/submission-publisher.test.ts
  apps/web/lib/submissions/submission-publisher.ts
  apps/web/lib/submissions/submission-state-lua.test.ts
  apps/web/lib/submissions/submission-state-security.ts
  apps/web/lib/submissions/submission-state.test.ts
  apps/web/lib/submissions/submission-state.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat: require signed submission merge authorization
  .github/workflows/pr-automerge.yml
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

fix: bound trusted duplicate inspection
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

fix: harden trusted automerge revalidation
  .github/workflows/pr-automerge.yml
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

fix: close trusted automerge race windows
  .github/workflows/pr-automerge.yml
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

fix: preserve manual review merge veto
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

fix: order final trusted merge checks
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

fix: sync labels after final merge denial
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

feat: add social support submission step
  apps/web/components/forms/__tests__/submit-form-support.test.tsx
  apps/web/components/forms/__tests__/submit-form-test-helpers.tsx
  apps/web/components/forms/__tests__/submit-form.test.tsx
  apps/web/components/forms/submit-form-chrome.tsx
  apps/web/components/forms/submit-form-step2.tsx
  apps/web/components/forms/submit-form-success.tsx
  apps/web/components/forms/submit-form-support.tsx
  apps/web/components/forms/submit-form.tsx
  apps/web/components/forms/use-submit-form-metadata.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: improve submission flow accessibility
  apps/web/components/forms/__tests__/submit-form-metadata.test.tsx
  apps/web/components/forms/__tests__/submit-form-success.test.tsx
  apps/web/components/forms/__tests__/submit-form-support.test.tsx
  apps/web/components/forms/__tests__/submit-form-test-helpers.tsx
  apps/web/components/forms/__tests__/submit-form.test.tsx
  apps/web/components/forms/submit-form-success.tsx
  apps/web/components/forms/submit-form-support.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: preserve submission details spacing
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/submit-form-step2.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: prevent stale submission updates
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/__tests__/submit-form-focus.test.tsx
  apps/web/components/forms/__tests__/submit-form-metadata.test.tsx
  apps/web/components/forms/__tests__/submit-form-url-status.test.tsx
  apps/web/components/forms/submit-form-step1.tsx
  apps/web/components/forms/submit-form-step2-url-fields.tsx
  apps/web/components/forms/submit-form-step2.tsx
  apps/web/components/forms/submit-form-utils.ts
  apps/web/components/forms/submit-form.tsx
  apps/web/components/forms/use-submit-form-metadata.ts
  apps/web/components/forms/use-submit-url-check.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: complete trusted submission analytics
  apps/web/__tests__/legal-content.test.ts
  apps/web/components/submission-analytics-tracker.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  packages/content/data/legal/privacy.mdx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat: measure trusted submission outcomes
  apps/web/__tests__/legal-content.test.ts
  apps/web/components/analytics-tracker.tsx
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/submit-form-support.tsx
  apps/web/components/forms/submit-form.tsx
  apps/web/components/submission-analytics-tracker.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  apps/web/lib/__tests__/submission-analytics.test.ts
  apps/web/lib/analytics-helpers.ts
  apps/web/lib/analytics.ts
  apps/web/lib/submission-analytics.ts
  packages/content/data/legal/privacy.mdx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: harden trusted submission analytics
  apps/web/__tests__/legal-content.test.ts
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/__tests__/submit-form-focus.test.tsx
  apps/web/components/forms/__tests__/submit-form-test-helpers.tsx
  apps/web/components/forms/__tests__/submit-form.test.tsx
  apps/web/components/submission-analytics-tracker.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  apps/web/lib/submission-analytics.ts
  apps/web/lib/submissions/submission-analytics-metadata.ts
  apps/web/lib/submissions/submission-publisher-result.ts
  apps/web/lib/submissions/submission-publisher.test.ts
  apps/web/lib/submissions/submission-publisher.ts
  packages/content/data/legal/privacy.mdx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: preserve created pull request provenance
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/components/submission-analytics-tracker.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  apps/web/lib/submissions/submission-publisher-result.ts
  apps/web/lib/submissions/submission-publisher.test.ts
  apps/web/lib/submissions/submission-publisher.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: correct trusted submission analytics
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/__tests__/submit-form-focus.test.tsx
  apps/web/components/forms/__tests__/submit-form-support.test.tsx
  apps/web/components/forms/__tests__/submit-form.test.tsx
  apps/web/components/forms/submit-form-support.tsx
  apps/web/components/submission-analytics-tracker.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  apps/web/lib/__tests__/submission-analytics.test.ts
  apps/web/lib/analytics.ts
  apps/web/lib/submission-analytics.ts
  apps/web/lib/submissions/submission-analytics-metadata.ts
  apps/web/lib/submissions/submission-publisher-result.ts
  apps/web/lib/submissions/submission-publisher.test.ts
  apps/web/lib/submissions/submission-publisher.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: distinguish pull request presence
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/__tests__/submit-form-focus.test.tsx
  apps/web/components/forms/__tests__/submit-form.test.tsx
  apps/web/components/submission-analytics-tracker.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  apps/web/lib/submissions/submission-analytics-metadata.ts
  apps/web/lib/submissions/submission-publisher-result.ts
  apps/web/lib/submissions/submission-publisher.test.ts
  apps/web/lib/submissions/submission-publisher.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: focus submission details after metadata
  apps/web/components/forms/__tests__/submit-form-focus.test.tsx
  apps/web/components/forms/submit-form.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat: expand submission funnel analytics
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/submit-form-support.tsx
  apps/web/components/forms/submit-form.tsx
  apps/web/components/submission-analytics-tracker.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  apps/web/lib/__tests__/submission-analytics.test.ts
  apps/web/lib/analytics.ts
  apps/web/lib/submission-analytics.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: exclude turbo cache from Vercel uploads
  .vercelignore
Due: none

feat: track submission field completion
  apps/web/components/forms/__tests__/submission-field-analytics.test.ts
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/submission-field-analytics.ts
  apps/web/components/forms/submit-form.tsx
  apps/web/components/submission-analytics-tracker.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  apps/web/lib/__tests__/submission-analytics.test.ts
  apps/web/lib/analytics.ts
  apps/web/lib/submission-analytics.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

Add Aura UI
  packages/content/data/websites/aura-ui-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Noden
  packages/content/data/websites/noden-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add five scholarly agent-infrastructure properties
  packages/content/data/websites/afmr-llms-txt.mdx
  packages/content/data/websites/agentic-substrate-llms-txt.mdx
  packages/content/data/websites/open-standing-llms-txt.mdx
  packages/content/data/websites/trustcarry-llms-txt.mdx
  packages/content/data/websites/wulf-kaal-corpus-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Autonomy Labs Storefront to llms.txt directory
  packages/content/data/websites/autonomy-labs-storefront-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

add llms-full.txt URL to storefront listing
  packages/content/data/websites/autonomy-labs-storefront-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Update storefront URLs to custom domain
  packages/content/data/websites/autonomy-labs-storefront-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Autonomy Labs Storefront to llms.txt hub
  packages/content/data/websites/autonomy-labs-storefront-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Trent AI
  packages/content/data/websites/trent-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add AgentsKit llms.txt
  packages/content/data/websites/agentskit-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(websites): add Bukong Fishing Weather
  packages/content/data/websites/bukong-fishing-weather-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Bot Ledger to llms.txt hub
  packages/content/data/websites/bot-ledger-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Arkite UI
  packages/content/data/websites/arkite-ui-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

chore: update URLs to custom domain ui.foson.co
  packages/content/data/websites/arkite-ui-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(websites): add Zovo and BeLikeNative
  packages/content/data/websites/belikenative-llms-txt.mdx
  packages/content/data/websites/zovo-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(websites): add ToolsThatRank, handsofflinks and AI Website Pipeline
  packages/content/data/websites/aiwebsitepipeline-llms-txt.mdx
  packages/content/data/websites/handsofflinks-llms-txt.mdx
  packages/content/data/websites/toolsthatrank-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(websites): mark BeLikeNative free tool list as partial (CodeRabbit review)
  packages/content/data/websites/belikenative-llms-txt.mdx
Due: check-frontmatter, check-mdx-length
