Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, test-modified

lefthook.yml:

# Lefthook Configuration
# Using existing validation scripts

pre-commit:
  parallel: true
  commands:
    # Code formatting and linting
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    
    # Package.json sorting
    sort-package-json:
      glob: "**/{package.json}"
      exclude: "node_modules/**"
      run: pnpm dlx sort-package-json {staged_files}
      stage_fixed: true
    
    # MDX content validation
    check-frontmatter:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-frontmatter.ts {staged_files}
    
    check-mdx-length:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-mdx-length.ts {staged_files}
    
    # TypeScript as casts validation
    check-as-casts:
      glob: "**/*.{ts,tsx}"
      exclude: |
        **/node_modules/**
        **/*.test.*
        **/*.spec.*
      run: node scripts/validation/check-as-casts.js {staged_files}
    
    # Barrel files validation
    check-barrel-files:
      glob: "**/index.{js,ts,jsx,tsx}"
      exclude: "**/node_modules/**"
      run: node scripts/validation/check-barrel-files.js {staged_files}
    
    # Console logs validation
    check-console-logs:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude: |
        **/node_modules/**
        **/*.test.*
        **/*.spec.*
        **/scripts/**
        **/packages/validators/**
        **/packages/generator/**
      run: node scripts/validation/check-console-logs.js {staged_files}
    
    # Directory structure validation
    check-directory-structure:
      run: node scripts/validation/check-directory-structure.js
    
    # File complexity validation
    check-file-complexity:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude: |
        **/node_modules/**
        **/*.test.*
        **/*.spec.*
      run: node scripts/validation/check-file-complexity.js {staged_files}
    
    # JSDoc validation
    check-jsdoc:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude: |
        **/node_modules/**
        **/*.test.*
        **/*.spec.*
      run: node scripts/validation/check-jsdoc.js {staged_files}
    
    # Relative imports validation
    check-relative-imports:
      glob: "apps/web/**/*.{ts,tsx,js,jsx}"
      exclude: "apps/web/**/node_modules/**"
      run: pnpm tsx scripts/check-relative-imports.ts {staged_files}
    
    # Test modified test files
    test-modified:
      glob: "apps/web/**/*.{test,spec}.{js,ts,tsx}"
      run: cd apps/web && pnpm test:related {staged_files}

# Pre-push validation
pre-push:
  commands:
    # Run tests
    test-all:
      run: turbo test --filter=web

# Commit message validation
commit-msg:
  commands:
    lint-commit-message:
      run: pnpm commitlint --edit {1}

feat: implement proper infinite scroll following UX pattern
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: resolve linting issues in infinite scroll implementation
  apps/web/components/sections/index.ts
  apps/web/components/websites-list-with-search.tsx
Due: check

feat: implement Load More pattern for better performance
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: optimize Load More to load 48 websites and reduce button size
  apps/web/actions/get-home-page-data.ts
  apps/web/app/api/websites/paginated/route.ts
  apps/web/components/websites-list-with-search.tsx
Due: check

feat: implement server-side search across all websites
  apps/web/app/api/websites/search/route.ts
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: improve search UX with proper loading states
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: eliminate 'no results found' flash during search typing
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: clean up formatting and ensure no showAll references
  apps/web/app/api/websites/search/route.ts
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: eliminate excessive GitHub API calls on homepage
  apps/web/app/page.tsx
  apps/web/lib/members.ts
Due: check

fix: resolve TypeScript error and eliminate members page GitHub API calls
  apps/web/components/empty-state.tsx
  apps/web/components/websites-list-with-search.tsx
  apps/web/lib/member-server-utils.ts
Due: check

Add Astroline - astrology app to llms.txt directory
  packages/content/data/websites/astroline-astrology-app-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Hinto AI to llms.txt directory
  packages/content/data/websites/hinto-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add All-in to llms.txt directory
  packages/content/data/websites/all-in-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Astroline - astrology app to llms.txt directory (#393)
  packages/content/data/websites/astroline-astrology-app-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Hinto AI to llms.txt directory (#394)
  packages/content/data/websites/hinto-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add All-in to llms.txt directory (#395)
  packages/content/data/websites/all-in-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Upstaff to llms.txt directory
  packages/content/data/websites/upstaff-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add helloskin.hu to llms.txt directory
  packages/content/data/websites/helloskin-hu-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add FragBin to llms.txt directory
  packages/content/data/websites/fragbin-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

add farcaster miniapps llms.txt
  README.md
  apps/web/public/search/search-index.json
  data/websites.json
  packages/content/data/websites/farcaster-miniapps-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

Add Bildungsurlaub-in-deutschland to llms.txt directory
  packages/content/data/websites/bildungsurlaub-in-deutschland-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add ConfigCat to llms.txt directory
  packages/content/data/websites/configcat-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Upstaff to llms.txt directory (#396)
  packages/content/data/websites/upstaff-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add ConfigCat to llms.txt directory (#401)
  packages/content/data/websites/configcat-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Bildungsurlaub-in-deutschland to llms.txt directory (#400)
  packages/content/data/websites/bildungsurlaub-in-deutschland-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

add farcaster miniapps llms.txt (#399)
  README.md
  apps/web/public/search/search-index.json
  data/websites.json
  packages/content/data/websites/farcaster-miniapps-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

Add FragBin to llms.txt directory (#398)
  packages/content/data/websites/fragbin-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Kigurumi Wiki to llms.txt directory
  packages/content/data/websites/kigurumi-wiki-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Plataforma DocCF to llms.txt directory
  packages/content/data/websites/plataforma-doccf-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add MseeP.ai badge to README.md
  README.md
Due: none

Add Shows Watched to llms.txt directory
  packages/content/data/websites/shows-watched-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Aspose.Words Product Family to llms.txt directory
  packages/content/data/websites/aspose-words-product-family-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Create jeenymods.com.txt
  packages/content/data/websites/jeenymods.com.txt
Due: none

Add ads.txt Guru to llms.txt directory
  packages/content/data/websites/ads-txt-guru-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add IG Exporter to llms.txt directory
  packages/content/data/websites/ig-exporter-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Maison Fervenza | Wedding to llms.txt directory
  packages/content/data/websites/maison-fervenza-wedding-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add PayPerFax to llms.txt directory
  packages/content/data/websites/payperfax-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Auto Scrap Yard - Canada Wide to llms.txt directory
  packages/content/data/websites/auto-scrap-yard-canada-wide-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Unquoting Insurance Company to llms.txt directory
  packages/content/data/websites/unquoting-insurance-company-llms-txt.mdx
Due: check-frontmatter, check-mdx-length
