Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, test-modified

check:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check-frontmatter:
  run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

check-mdx-length:
  run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

test-modified:
  run: cd apps/web && pnpm test:related {staged_files}

Add Absurdity Index to llms-txt-hub
  packages/content/data/websites/absurdity-index-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

add Trip Concierge to llms.txt hub
  data/websites.json
Due: check

Add Sketchready to llms.txt directory
  packages/content/data/websites/sketchready-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Angel Cruz - Developer Blog to llms.txt directory
  packages/content/data/websites/angel-cruz-developer-blog-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Voi.Bet to llms.txt directory
  packages/content/data/websites/voi-bet-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add BasinCheck to llms.txt directory
  packages/content/data/websites/basincheck-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add AI Bladder Journal to llms.txt directory
  packages/content/data/websites/ai-bladder-journal-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(cli): add telemetry and interactive wizard UX
  apps/web/app/api/cli/telemetry/route.ts
  packages/cli/README.md
  packages/cli/data/package-mappings.json
  packages/cli/data/registry.json
  packages/cli/package.json
  packages/cli/scripts/build-registry.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/commands/search.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/agents.ts
  packages/cli/src/lib/banner.ts
  packages/cli/src/lib/cache.ts
  packages/cli/src/lib/context.ts
  packages/cli/src/lib/detector.ts
  packages/cli/src/lib/fetcher.ts
  packages/cli/src/lib/lockfile.ts
  packages/cli/src/lib/logger.ts
  packages/cli/src/lib/registry.ts
  packages/cli/src/lib/storage.ts
  packages/cli/src/lib/telemetry.ts
  packages/cli/src/types/index.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
  pnpm-lock.yaml
Due: check

Add Cosine Wallet to llms.txt directory
  packages/content/data/websites/cosine-wallet-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Digital Marketing For Med Spas to llms.txt directory
  packages/content/data/websites/digital-marketing-for-med-spas-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add fresh to llms.txt directory
  packages/content/data/websites/fresh-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Alignmint — all-in-one nonprofit accounting & management software
  data/websites.json
Due: check

Add Rimward to llms.txt directory
  packages/content/data/websites/rimward-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Bit Refinery to llms.txt directory
  packages/content/data/websites/bit-refinery-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add anewjob to llms.txt directory
  packages/content/data/websites/anewjob-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add NH AI Meetup to llms.txt directory
  packages/content/data/websites/nh-ai-meetup-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add EliteReads to llms.txt directory
  packages/content/data/websites/elitereads-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Zenda to llms.txt directory
  packages/content/data/websites/zenda-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Image Adaptation Tool - AI to llms.txt directory
  packages/content/data/websites/image-adaptation-tool-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add inbed.ai-love-dating to llms.txt directory
  packages/content/data/websites/inbed-ai-love-dating-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add achurch.ai-soul-consciousness to llms.txt directory
  packages/content/data/websites/achurch-ai-soul-consciousness-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

chore: add changesets config, release workflow, and missing project files
  .changeset/config.json
  .github/workflows/release.yml
  .mcp.json
  .vscode/mcp.json
  CLAUDE.md
  apps/web/components/ui/copy-button.tsx
  apps/web/turbopack-empty.ts
  packages/cli/src/globals.d.ts
Due: check

Add Monitor Servers & Websites to llms.txt directory
  packages/content/data/websites/monitor-servers-websites-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add 0xA1 to llms.txt directory
  packages/content/data/websites/0xa1-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: clean up pnpm-lock.yaml to fix manypkg postinstall
  pnpm-lock.yaml
Due: none

fix(cli): validate registry slugs, harden APIs, and refactor to object params
  apps/web/app/api/cli/telemetry/route.ts
  apps/web/next-env.d.ts
  packages/cli/data/package-mappings.json
  packages/cli/data/registry.json
  packages/cli/scripts/build-registry.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/agents.ts
  packages/cli/src/lib/fetcher.ts
  packages/cli/src/lib/lockfile.ts
  packages/cli/src/lib/storage.ts
  pnpm-lock.yaml
Due: check

Add PlanProvider.Pro to llms.txt directory
  packages/content/data/websites/planprovider-pro-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Greetwell Experiences to llms.txt directory
  packages/content/data/websites/greetwell-experiences-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Umoja Food Logistics Solutions to llms.txt directory
  packages/content/data/websites/umoja-food-logistics-solutions-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(cli): bridge web/CLI slugs, auto-generate package-mappings, conditional CLI section
  apps/web/components/website/website-llms-section.tsx
  apps/web/tsconfig.json
  packages/cli/data/package-mappings.json
  packages/cli/data/registry.json
  packages/cli/scripts/build-registry.ts
  packages/cli/src/types/index.ts
Due: check

update vercel
  apps/web/next-env.d.ts
  vercel.json
Due: check

fix(release): only publish CLI to npm and fix auth
  .github/workflows/release.yml
  packages/content/package.json
  packages/generator/package.json
  packages/newsletter/package.json
Due: check

feat(cli): support 39 AI agents and switch to OIDC trusted publishing
  .github/workflows/release.yml
  packages/cli/src/lib/agents.ts
  packages/cli/src/lib/storage.ts
Due: check

Add Custom Software Development to llms.txt directory
  packages/content/data/websites/custom-software-development-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

chore: add changeset for 39-agent support release
  .changeset/support-39-agents.md
Due: none

fix(cli): reduce false positive agent detection and improve UX
  .changeset/fix-agent-detection.md
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/lib/agents.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-frontmatter: any of: packages/content/data/websites/*.mdx
  check-mdx-length: any of: packages/content/data/websites/*.mdx
  test-modified: any of: apps/web/**/*.{test,spec}.{js,ts,tsx}
