Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check-frontmatter:
  run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

check-mdx-length:
  run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

check-as-casts:
  run: node scripts/validation/check-as-casts.js {staged_files}

check-console-logs:
  run: node scripts/validation/check-console-logs.js {staged_files}

check-file-complexity:
  run: node scripts/validation/check-file-complexity.js {staged_files}

check-jsdoc:
  run: node scripts/validation/check-jsdoc.js {staged_files}

test-modified:
  run: cd apps/web && pnpm test:related {staged_files}

Add DOS AI (AI assistants for WhatsApp/Telegram with built-in CRM)
  packages/content/data/websites/dos-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Duvo llms.txt listing
  packages/content/data/websites/duvo-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Duvo llms.txt
  packages/content/data/websites/duvo-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Arcaeon llms.txt
  packages/content/data/websites/arcaeon-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add AI Daily Insights
  packages/content/data/websites/ai-daily-insights-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

content: add Agent QA llms.txt
  packages/content/data/websites/agent-qa-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add AI Website Pipeline
  packages/content/data/websites/aiwebsitepipeline-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

content: add Hatchloop llms.txt
  packages/content/data/websites/hatchloop-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Invoket to llms.txt hub
  packages/content/data/websites/invoket-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add LLM Latency Tracker to llms.txt hub
  packages/content/data/websites/llm-latency-tracker-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(websites): add prestation-drone-com llms.txt entry
  packages/content/data/websites/prestation-drone-com-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(websites): add prestation-drone-fr llms.txt entry
  packages/content/data/websites/prestation-drone-fr-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(websites): add prestationdrone-fr llms.txt entry
  packages/content/data/websites/prestationdrone-fr-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Hatchloop AI-visibility platform to directory
  data/websites.json
Due: check

docs: update Autonomy Labs catalog to 43 products (12 HTML5 games)
  packages/content/data/websites/autonomy-labs-storefront-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

chore: update websites.json for Autonomy Labs Storefront entry [skip ci]
  data/websites.json
Due: check

Add Hyperion AI Tools
  README.md
Due: none

feat(websites): add FakturaFlow
  packages/content/data/websites/fakturaflow-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

chore(ci): drop the 5-minute mirror-sync poll
  .gitea/workflows/mirror-sync.yml
Due: none

Add EveryPage
  data/websites.json
Due: check

Add MDX source for EveryPage so the generator retains the entry
  data/websites.json
  packages/content/data/websites/everypage-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

Hyphenate Text-to-speech in both descriptions
  packages/content/data/websites/gandr-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Haatch Media developer profile (haatchmedia.cloud)
  packages/content/data/websites/haatch-media-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add SeiSei AI llms.txt entry
  packages/content/data/websites/seisei-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Nano Banana Pro llms.txt entry
  packages/content/data/websites/nano-banana-pro-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Remove duplicate EveryPage entry from websites.json
  data/websites.json
Due: check

Revert generated data/websites.json to main (regenerated by automation)
  data/websites.json
Due: check

feat: add Arena by Dravensoft
  packages/content/data/websites/arena-by-dravensoft-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Emisoras de Colombia llms.txt entry
  packages/content/data/websites/emisoras-de-colombia-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Epovest to llms.txt hub
  packages/content/data/websites/epovest-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(content): add Dan Ahmadi app portfolio
  packages/content/data/websites/babyduet-llms-txt.mdx
  packages/content/data/websites/beepcrowd-llms-txt.mdx
  packages/content/data/websites/coiloop-llms-txt.mdx
  packages/content/data/websites/colorkind-llms-txt.mdx
  packages/content/data/websites/duplical-llms-txt.mdx
  packages/content/data/websites/engraveprep-llms-txt.mdx
  packages/content/data/websites/keepcardalive-llms-txt.mdx
  packages/content/data/websites/moonrise-moment-llms-txt.mdx
  packages/content/data/websites/pasur-llms-txt.mdx
  packages/content/data/websites/stencildrop-llms-txt.mdx
  packages/content/data/websites/trackdme-llms-txt.mdx
  packages/content/data/websites/vendorprint-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add eeemoji to llms.txt directory
  packages/content/data/websites/eeemoji-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add PennyOCR
  packages/content/data/websites/pennyocr-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

bykaranteli-mcp: 33 tools as of 0.9.0
  packages/content/data/websites/bykaranteli-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add LiMao Travel to llms.txt directory
  data/websites.json
Due: check

feat(community): add TokenGauge
  packages/content/data/websites/tokengauge-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Cortex (AI API for Roblox games)
  data/websites.json
Due: check

Motion Menu: update URL to its own domain (www.motionmenu.ca)
  packages/content/data/websites/motion-menu-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add USDCtoFiat
  packages/content/data/websites/usdctofiat-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Peerlytics
  packages/content/data/websites/peerlytics-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-frontmatter: any of: packages/content/data/websites/*.mdx
  check-mdx-length: any of: packages/content/data/websites/*.mdx
  check-as-casts: any of: **/*.{ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-console-logs: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*, scripts/**, **/scripts/**, packages/validators/**, **/packages/validators/**, packages/generator/**, **/packages/generator/**, packages/cli/**, **/packages/cli/**
  check-file-complexity: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-jsdoc: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  test-modified: any of: apps/web/**/*.{test,spec}.{js,ts,tsx}
