Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

lefthook.yml:

# Lefthook Configuration
# Using existing validation scripts

pre-commit:
  parallel: true
  commands:
    # Code formatting and linting
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

    # Package.json sorting
    sort-package-json:
      glob: "**/{package.json}"
      exclude: "node_modules/**"
      run: pnpm dlx sort-package-json {staged_files}
      stage_fixed: true

    # MDX content validation
    check-frontmatter:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

    check-mdx-length:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

    # TypeScript as casts validation
    check-as-casts:
      glob: "**/*.{ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-as-casts.js {staged_files}

    # Barrel files validation
    check-barrel-files:
      glob: "**/index.{js,ts,jsx,tsx}"
      exclude: "**/node_modules/**"
      run: node scripts/validation/check-barrel-files.js {staged_files}

    # Console logs validation
    check-console-logs:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
        - "scripts/**"
        - "**/scripts/**"
        - "packages/validators/**"
        - "**/packages/validators/**"
        - "packages/generator/**"
        - "**/packages/generator/**"
        - "packages/cli/**"
        - "**/packages/cli/**"
      run: node scripts/validation/check-console-logs.js {staged_files}

    # Directory structure validation
    check-directory-structure:
      run: node scripts/validation/check-directory-structure.js

    # File complexity validation
    check-file-complexity:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-file-complexity.js {staged_files}

    # JSDoc validation
    check-jsdoc:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-jsdoc.js {staged_files}

    # Relative imports validation
    check-relative-imports:
      glob: "apps/web/**/*.{ts,tsx,js,jsx}"
      exclude: "apps/web/**/node_modules/**"
      run: pnpm tsx scripts/check-relative-imports.ts {staged_files}

    # Test modified test files
    test-modified:
      glob: "apps/web/**/*.{test,spec}.{js,ts,tsx}"
      run: cd apps/web && pnpm test:related {staged_files}

# Pre-push validation
pre-push:
  commands:
    # Run tests
    test-all:
      run: turbo test --filter=web

# Commit message validation
commit-msg:
  commands:
    lint-commit-message:
      run: pnpm commitlint --edit {1}

fix(e2e): avoid invalid clerk fallback key in CI
  apps/e2e/playwright.config.ci.ts
  apps/web/lib/member-server-utils.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(e2e): satisfy clerk secret requirement in CI fallback
  apps/e2e/playwright.config.ci.ts
  apps/web/lib/clerk.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

Add Stagetimer to directory
  data/websites.json
Due: check

Use self-hosted favicon instead of Google proxy
  data/websites.json
Due: check

feat: add Money Visualiser to llms.txt hub
  packages/content/data/websites/money-visualiser-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Turnozo - employee scheduling for small businesses
  data/websites.json
  packages/content/data/websites/turnozo-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

Add Bitesized (bitesized.app) to websites list
  packages/content/data/websites/bitesized-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Regenerate websites.json via generate-websites script
  data/websites.json
Due: check

Revert "Regenerate websites.json via generate-websites script"
  data/websites.json
Due: check

feat: add Cloud Studio IoT (cloudstudioiot.com) to websites list
  packages/content/data/websites/cloudstudioiot-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Dealerium to directory
  data/websites.json
Due: check

Add llms.txt entry for Disclosure Assistant
  disclosureassistant.com.txt
Due: none

Add llms.txt entry for NotionRealm
  notionrealm.com.txt
Due: none

Add llms.txt entry for Did I Reply
  didireply.app.txt
Due: none

Update notionrealm.com.txt
  notionrealm.com.txt
Due: none

Update disclosureassistant.com.txt
  disclosureassistant.com.txt
Due: none

feat: add SmartHomeUK, NearbyTraders, PawsField, IMZAInvest
  data/websites.json
Due: check

fix: logout
  apps/web/middleware.ts
  apps/web/next-env.d.ts
  packages/auth/src/client/context/index.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(web): remove isomorphic-dompurify to resolve serverless cold-start failures
  .gitignore
  .vscode/settings.json
  apps/web/__tests__/lib/security-sanitization.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/app/api/auth/github/route.ts
  apps/web/app/api/auth/metadata/route.ts
  apps/web/app/api/check-url/route.ts
  apps/web/app/api/fetch-metadata/__tests__/route.test.ts
  apps/web/app/api/fetch-metadata/route.ts
  apps/web/app/api/newsletter/subscribe/route.ts
  apps/web/app/api/user/check-username/__tests__/route.test.ts
  apps/web/app/api/user/check-username/route.ts
  apps/web/app/api/user/favorites/__tests__/route.test.ts
  apps/web/app/api/user/favorites/route.ts
  apps/web/app/api/user/update-metadata/__tests__/route.test.ts
  apps/web/app/api/user/update-metadata/route.ts
  apps/web/app/auth/connect-github/page.tsx
  apps/web/app/members/members-list.tsx
  apps/web/app/profile/profile-content.tsx
  apps/web/app/settings/privacy/page.tsx
  apps/web/components/community/community-dashboard.tsx
  apps/web/components/csrf-provider.tsx
  apps/web/components/forms/submit-form-schemas.ts
  apps/web/components/profile/use-profile-form.tsx
  apps/web/components/settings/danger-zone.tsx
  apps/web/components/websites-list-with-search.tsx
  apps/web/hooks/use-contributions.ts
  apps/web/hooks/use-load-more.ts
  apps/web/lib/__tests__/security-utils.test.ts
  apps/web/lib/csrf-protection.ts
  apps/web/lib/security-utils-helpers.ts
  apps/web/lib/security-utils.ts
  apps/web/next.config.ts
  apps/web/package.json
  packages/auth/src/client/context/index.tsx
  packages/auth/src/core/types.ts
  packages/auth/src/server/index.ts
  pnpm-lock.yaml
  sessions/tasks/m-refactor-dry-code.md
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(web): handle deleted user gracefully in favorites API
  apps/web/app/api/user/favorites/route.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(web): harden api security and enforce critical jest coverage
  apps/web/__tests__/api-routes.test.tsx
  apps/web/__tests__/profile-pages.test.tsx
  apps/web/actions/submit-llms-xxt.ts
  apps/web/app/api/check-url/__tests__/route.test.ts
  apps/web/app/api/check-url/route.ts
  apps/web/app/api/debug/__tests__/access-control.test.ts
  apps/web/app/api/debug/_utils.ts
  apps/web/app/api/debug/clear-github-cache/route.ts
  apps/web/app/api/debug/clear-redis-cache/route.ts
  apps/web/app/api/debug/content-paths/route.ts
  apps/web/app/api/debug/github-contributions/route.ts
  apps/web/app/api/debug/github-rate-limit/route.ts
  apps/web/app/api/debug/redis-cache/route.ts
  apps/web/app/api/fetch-metadata/__tests__/route.test.ts
  apps/web/app/api/fetch-metadata/route.ts
  apps/web/app/api/user/check-username/__tests__/route.test.ts
  apps/web/components/__tests__/csrf-provider.test.tsx
  apps/web/hooks/__tests__/use-contributions.test.ts
  apps/web/hooks/use-contributions.ts
  apps/web/jest.config.ts
  apps/web/lib/__tests__/url-safety.test.ts
  apps/web/lib/url-safety.ts
  apps/web/middleware.ts
  packages/auth/src/server/index.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(web): comprehensive SEO audit improvements
  apps/web/app/(files)/rss.xml/route.ts
  apps/web/app/[category]/page.tsx
  apps/web/app/community/page.tsx
  apps/web/app/global-error.tsx
  apps/web/app/guides/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/members/page.tsx
  apps/web/app/not-found.tsx
  apps/web/app/opengraph-image.alt.txt
  apps/web/app/page.tsx
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
  apps/web/components/json-ld.tsx
  apps/web/components/sections/hero-section.tsx
  apps/web/lib/schema.ts
  apps/web/lib/seo/seo-config.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(web): add remarkGfm plugin to MDXRemote instances
  apps/web/app/docs/[slug]/page.tsx
  apps/web/app/docs/page.tsx
  apps/web/app/guides/[slug]/page.tsx
  apps/web/components/website/website-content-section.tsx
  apps/web/next-env.d.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(web): patch JSON-LD XSS and hex IPv6 SSRF bypass
  apps/web/components/json-ld.tsx
  apps/web/lib/__tests__/url-safety.test.ts
  apps/web/lib/url-safety.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(web): address code quality audit findings
  apps/web/app/auth/connect-github/page.tsx
  apps/web/app/auth/layout.tsx
  apps/web/app/members/members-list.tsx
  apps/web/app/members/page.tsx
  apps/web/components/community/community-dashboard.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

Add SailOnChain to llms.txt hub
  data/websites.json
Due: check

Add SailOnChain MDX entry instead of editing generated JSON
  packages/content/data/websites/sailonchain-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Revert generated websites.json - entry added via MDX instead
  data/websites.json
Due: check

feat: add Aptabase to directory
  data/websites.json
Due: check

Create swisscarinfo.mdx
  swisscarinfo.mdx
Due: none

feat: add SwissCarInfo to websites
  packages/content/data/websites/swisscarinfo.mdx
Due: check-frontmatter, check-mdx-length

Update swisscarinfo.mdx
  packages/content/data/websites/swisscarinfo.mdx
Due: check-frontmatter, check-mdx-length

Delete swisscarinfo.mdx
  swisscarinfo.mdx
Due: none

fix: use absolute URL for API endpoint
  packages/content/data/websites/swisscarinfo.mdx
Due: check-frontmatter, check-mdx-length

fix: correct MDX frontmatter structure
  packages/content/data/websites/swisscarinfo.mdx
Due: check-frontmatter, check-mdx-length

fix: use valid category value
  packages/content/data/websites/swisscarinfo.mdx
Due: check-frontmatter, check-mdx-length

Add DreamMasonry to directory
  packages/content/data/websites/dream-masonry-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add grindfi to llms.txt hub
  websites/community-management/grindfi.app
Due: none

fix(web): propagate CSP nonce to inline scripts and analytics
  apps/web/app/layout.tsx
  apps/web/components/json-ld.tsx
  apps/web/middleware.ts
  packages/analytics/head.tsx
  packages/analytics/index.tsx
  packages/analytics/providers/plausible.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc
