Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check-frontmatter:
  run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

check-mdx-length:
  run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

check-as-casts:
  run: node scripts/validation/check-as-casts.js {staged_files}

check-console-logs:
  run: node scripts/validation/check-console-logs.js {staged_files}

check-file-complexity:
  run: node scripts/validation/check-file-complexity.js {staged_files}

check-jsdoc:
  run: node scripts/validation/check-jsdoc.js {staged_files}

test-modified:
  run: cd apps/web && pnpm test:related {staged_files}

Add iSpring Suite: eLearning Tool to llms.txt directory
  packages/content/data/websites/ispring-suite-elearning-tool-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Twitech Solutions to llms.txt directory
  packages/content/data/websites/twitech-solutions-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Overview to llms.txt directory
  packages/content/data/websites/overview-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add SupplementScience.ai to llms.txt hub
  data/websites.json
Due: check

fix: alphabetize SupplementScience.ai entry after Superwall
  data/websites.json
Due: check

fix: add MDX source file for SupplementScience.ai
  data/websites.json
  packages/content/data/websites/supplementscience-ai-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

Add Konstantinfo to llms.txt directory
  packages/content/data/websites/konstantinfo-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Konstant-infosolutions to llms.txt directory
  packages/content/data/websites/konstant-infosolutions-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Konstant infosolutions to llms.txt directory
  packages/content/data/websites/konstant-infosolutions-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add awesome-n8n-templates llms.txt
  packages/content/data/websites/awesome-n8n-templates-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Ekso to llms.txt directory
  packages/content/data/websites/ekso-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Beeventure to llms.txt directory
  packages/content/data/websites/beeventure-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: remove redundant domain prefix from description and body
  packages/content/data/websites/silicon-friendly-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Create blocktrend-x402.mdx with publication details
  packages/content/websites/data/blocktrend-x402.mdx
Due: none

feat: add agoragentic llms.txt
  packages/content/data/websites/agoragentic.mdx
Due: check-frontmatter, check-mdx-length

feat: add RS Performance (automotive, Gdańsk, Poland)
  packages/content/data/websites/rs-performance-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Static Hosting · ShipStatic to llms.txt directory
  packages/content/data/websites/static-hosting-shipstatic-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Shopify POS for Multi Branch to llms.txt directory
  packages/content/data/websites/shopify-pos-for-multi-branch-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Aruannik to llms.txt directory
  packages/content/data/websites/aruannik-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Learning Hub to llms.txt directory
  packages/content/data/websites/learning-hub-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add MapleBridge.io — Canada-China B2B AI matching platform
  data/websites.json
Due: check

feat(analytics): add OpenPanel analytics in parallel with Plausible
  apps/web/.env.example
  apps/web/app/api/op/[...path]/route.ts
  apps/web/app/layout.tsx
  apps/web/components/ui/analytics-link.tsx
  apps/web/lib/analytics.ts
  apps/web/lib/openpanel-server.ts
  apps/web/middleware.ts
  apps/web/next-env.d.ts
  apps/web/package.json
  packages/analytics/README.md
  packages/analytics/head.tsx
  packages/analytics/index.tsx
  packages/analytics/package.json
  packages/analytics/providers/openpanel-identify.tsx
  packages/analytics/providers/openpanel.tsx
  packages/analytics/server.ts
  packages/content/data/legal/cookies.mdx
  packages/content/data/legal/privacy.mdx
  pnpm-lock.yaml
  turbo.json
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

docs(legal): update privacy and cookie policy dates to March 14, 2026
  packages/content/data/legal/cookies.mdx
  packages/content/data/legal/privacy.mdx
Due: none

chore: add AGENTS.md, add OPENPANEL_SECRET_ID to turbo env, update gitignore
  .gitignore
  .vscode/settings.json
  AGENTS.md
  turbo.json
Due: check

fix(security): resolve CSP violation, remove prod toolbar, fix OpenPanel init
  apps/web/app/layout.tsx
  apps/web/middleware.ts
  packages/analytics/providers/openpanel.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(analytics): reference @openpanel/web types from analytics package
  packages/analytics/index.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

chore: update registry
  apps/web/public/search/search-index.json
  packages/cli/data/registry.json
Due: check

refactor(web): migrate web middleware to proxy
  apps/web/__tests__/middleware-public-routes.test.ts
  apps/web/__tests__/proxy-public-routes.test.ts
  apps/web/app/api/newsletter/subscribe/route.ts
  apps/web/proxy.ts
  packages/analytics/README.md
  packages/auth/README.md
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

chore: fix build registry regex
  apps/web/next-env.d.ts
  packages/cli/scripts/build-registry.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: allow analytics proxy requests without csrf checks
  .npmrc
  apps/web/__tests__/proxy-public-routes.test.ts
  apps/web/lib/__tests__/analytics-proxy.test.ts
  apps/web/lib/analytics-proxy.ts
  apps/web/proxy.ts
  apps/web/test/test-utils.tsx
  pnpm-workspace.yaml
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

Add Sandvue to llms.txt directory
  packages/content/data/websites/sandvue-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(repo): automate community PR triage
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/labels.yml
  .github/workflows/pr-automerge.yml
  .github/workflows/pr-intake.yml
  .github/workflows/pr-review.yml
  package.json
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
  scripts/pr-triage.test.ts
  scripts/pr-triage.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

fix: resolve auth package typecheck boundaries
  configs/typescript/react-library.json
  packages/analytics/providers/openpanel-identify.tsx
  packages/auth/package.json
  packages/flags/lib/create-flag.ts
  packages/observability/providers/index.tsx
  packages/observability/user-context.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

feat(repo): simplify local PR triage labels
  .vscode/settings.json
  package.json
  packages/cli/data/registry.json
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

Add Static Hosting · ShipStatic to llms.txt directory (#750)
  packages/content/data/websites/static-hosting-shipstatic-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Overview to llms.txt directory (#738)
  packages/content/data/websites/overview-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add iSpring Suite: eLearning Tool to llms.txt directory (#736)
  packages/content/data/websites/ispring-suite-elearning-tool-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(repo): improve PR review automation
  .gitattributes
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  .github/workflows/update-websites-json.yml
  AGENTS.md
  data/README.md
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

Add Receipt Converter to llms.txt directory (#701)
  packages/content/data/websites/receipt-converter-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-frontmatter: any of: packages/content/data/websites/*.mdx
  check-mdx-length: any of: packages/content/data/websites/*.mdx
  check-as-casts: any of: **/*.{ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-console-logs: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*, scripts/**, **/scripts/**, packages/validators/**, **/packages/validators/**, packages/generator/**, **/packages/generator/**, packages/cli/**, **/packages/cli/**
  check-file-complexity: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-jsdoc: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  test-modified: any of: apps/web/**/*.{test,spec}.{js,ts,tsx}
