Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, test-modified

check:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check-frontmatter:
  run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

check-mdx-length:
  run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

test-modified:
  run: cd apps/web && pnpm test:related {staged_files}

feat(ui): implement minimal bold design system
  apps/web/app/guides/page.tsx
  apps/web/app/members/page.tsx
  apps/web/app/news/page.tsx
  apps/web/app/projects/page.tsx
  apps/web/components/github/github-project-card.tsx
  apps/web/components/layout/footer.tsx
  apps/web/components/layout/header-nav-link.tsx
  apps/web/components/layout/header.tsx
  apps/web/components/layout/section.tsx
  apps/web/components/llm/llm-grid.tsx
  apps/web/components/mdx/index.tsx
  apps/web/components/sections/guide-card.tsx
  apps/web/components/sections/hero-section.tsx
  apps/web/components/stats/github-stars.tsx
  apps/web/components/ui/animated-background.tsx
  apps/web/components/ui/card.tsx
  apps/web/components/ui/favorite-button.tsx
  apps/web/lib/utils.ts
  packages/design-system/components/shadcn/button.tsx
  packages/design-system/components/shadcn/card.tsx
  packages/design-system/lib/fonts.ts
  packages/design-system/styles/globals.css
Due: check

build: remove logs from prod
  apps/web/contexts/favorites-context.tsx
  apps/web/next.config.ts
Due: check

feat(favicon): switch to icon.horse for favicon service
  packages/utils/get-favicon-url.ts
Due: check

fix(github-stars): improve error handling and remove loading state
  apps/web/components/stats/github-stars.tsx
Due: check

feat(seo): add comprehensive structured data for website detail pages
  apps/web/lib/schema.ts
  apps/web/lib/seo/seo-config.ts
Due: check

fix: improve accessibility, performance, and code quality
  apps/web/app/guides/page.tsx
  apps/web/app/news/page.tsx
  apps/web/components/ui/animated-background.tsx
  packages/design-system/components/shadcn/card.tsx
  packages/design-system/styles/globals.css
Due: check

feat(website-detail): redesign page with improved UI and SEO
  apps/web/app/websites/[slug]/page.tsx
Due: check

fix: prevent hidden items from appearing on 4xl screens
  apps/web/components/llm/llm-grid.tsx
Due: check

fix(web): add icon.horse to allowed image hostnames
  apps/e2e/tests/pages.spec.ts
  apps/web/components/layout/footer.tsx
  apps/web/components/sections/guide-card.tsx
  apps/web/next.config.ts
Due: check

feat(grid): add 8-column layout for 4xl screens (1920px+)
  apps/web/actions/get-home-page-data.ts
  apps/web/components/llm/llm-grid.tsx
  apps/web/components/sections/featured-projects-section.tsx
  apps/web/components/sections/recently-added-section.tsx
  apps/web/components/ui/paginated-content.tsx
  apps/web/components/websites-list-with-sort.tsx
  apps/web/lib/project-utils.ts
Due: check

test(e2e): fix flaky tests and improve reliability
  apps/e2e/tests/interactions.spec.ts
  apps/e2e/tests/simple.spec.ts
  apps/e2e/tests/smoke.spec.ts
Due: check

fix: resolve type conflicts, improve tests, and enhance code quality
  apps/e2e/tests/pages.spec.ts
  apps/e2e/tests/simple.spec.ts
  apps/web/components/mdx/index.tsx
  apps/web/components/sections/tools-section.tsx
  apps/web/components/stats/github-stars.tsx
  apps/web/lib/schema.ts
  apps/web/lib/utils.ts
Due: check

content: mark Cloudflare and LangChain as featured
  packages/content/data/websites/cloudflare-llms-txt.mdx
  packages/content/data/websites/langchain-python-docs-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: remove unused variable in pages.spec.ts test
  apps/e2e/tests/pages.spec.ts
Due: check

refactor(tools-section): extract tools data to constant array
  apps/web/components/sections/tools-section.tsx
Due: check

style(ui): improve various page and component styles
  apps/web/app/login/page.tsx
  apps/web/app/news/page.tsx
  apps/web/components/mdx/index.tsx
  apps/web/components/sections/hero-section.tsx
Due: check

feat(utils): add size parameter to getFaviconUrl for higher resolution icons
  packages/utils/get-favicon-url.ts
Due: check

test: add navigation link click test for guides and about
  apps/e2e/tests/pages.spec.ts
  fix.md
Due: check

fix: resolve build errors and navigation issues
  apps/e2e/tests/pages.spec.ts
  apps/web/app/websites/[slug]/page.tsx
  apps/web/components/mdx/index.tsx
  apps/web/next.config.ts
Due: check

refactor(utils): add stripHtmlTags utility and apply across components
  apps/web/app/news/page.tsx
  apps/web/app/websites/[slug]/page.tsx
  apps/web/components/examples/websites-with-load-more.tsx
  apps/web/components/project-list.tsx
  apps/web/lib/utils.ts
Due: check

feat: add jcaldwell-labs terminal tools collection
  data/websites.json
Due: check

feat: add jcaldwell-labs terminal tools collection
  packages/content/data/websites/atari-style-llms-txt.mdx
  packages/content/data/websites/boxes-live-llms-txt.mdx
  packages/content/data/websites/fintrack-llms-txt.mdx
  packages/content/data/websites/my-context-llms-txt.mdx
  packages/content/data/websites/my-grid-llms-txt.mdx
  packages/content/data/websites/terminal-stars-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Alertoscan to llms.txt directory
  packages/content/data/websites/alertoscan-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Incol Intelligence to llms.txt directory
  packages/content/data/websites/incol-intelligence-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add CEIS-IT to llms.txt directory
  packages/content/data/websites/ceis-it-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Swarm - Digital Freedom now to llms.txt directory
  packages/content/data/websites/swarm-digital-freedom-now-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add WatchMy.bike to llms.txt directory
  packages/content/data/websites/watchmy-bike-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Bravarske Usluge Beograd to llms.txt directory
  packages/content/data/websites/bravarske-usluge-beograd-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add HypeStudio AI Agency to llms.txt directory
  packages/content/data/websites/hypestudio-ai-agency-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Dejan Markovic Consulting to llms.txt directory
  packages/content/data/websites/dejan-markovic-consulting-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Leomayn to llms.txt directory
  packages/content/data/websites/leomayn-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add ERemedium to llms.txt directory
  packages/content/websites/data/eremedium-llms-txt.mdx
Due: none

PR comment
  packages/content/websites/data/eremedium-llms-txt.mdx
Due: none

fix correct date
  packages/content/websites/data/eremedium-llms-txt.mdx
Due: none

fix data typo
  packages/content/websites/data/eremedium-llms-txt.mdx
Due: none

Add Nekko Digital to llms.txt directory
  packages/content/data/websites/nekko-digital-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

update
  packages/content/websites/data/eremedium-llms-txt.mdx
Due: none

Add North Shore Tacos to llms.txt directory
  packages/content/data/websites/north-shore-tacos-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Lanier Pristine to llms.txt directory
  packages/content/data/websites/lanier-pristine-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Trusted Humans to llms.txt directory
  packages/content/data/websites/trusted-humans-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-frontmatter: any of: packages/content/data/websites/*.mdx
  check-mdx-length: any of: packages/content/data/websites/*.mdx
  test-modified: any of: apps/web/**/*.{test,spec}.{js,ts,tsx}
