Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    sort-package-json:
      glob: "**/{package.json}"
      exclude: "node_modules/**"
      run: pnpm dlx sort-package-json {staged_files}
    check-frontmatter:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-frontmatter.ts {staged_files}
    check-mdx-length:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

# Build commit messages interactively.
# prepare-commit-msg:
#   commands:
#     commitzen:
#       interactive: true
#       run: pnpm commit
#       env:
#         LEFTHOOK: 0

# Validate commit messages; can be used with or without cz.
commit-msg:
  commands:
    "lint commit message":
      run: pnpm commitlint --edit {1}

docs: update llms.txt list [skip ci] (#369)
  README.md
Due: none

fix: trying to fix login
  apps/web/app/api/auth/sign-in/[[...sign-in]]/route.ts
  apps/web/app/api/auth/sign-in/route.ts
  apps/web/app/api/login/route.ts
Due: check

fix: resolve all linting and code quality issues
  apps/web/app/api/csrf/route.ts
  apps/web/app/api/debug/clear-github-cache/route.ts
  apps/web/app/api/debug/clear-redis-cache/route.ts
  apps/web/app/api/debug/github-contributions/route.ts
  apps/web/app/api/debug/github-rate-limit/route.ts
  apps/web/app/api/debug/redis-cache/route.ts
  apps/web/app/u/[slug]/page.tsx
  apps/web/components/csrf-provider.tsx
  apps/web/components/profile/profile-contributions.tsx
  apps/web/lib/__tests__/csrf-protection.test.ts
Due: check

fix: improve rate limiting and Edge Runtime compatibility in middleware
  apps/web/middleware.ts
Due: check

refactor: improve rate limiting security and TypeScript compliance
  apps/web/middleware.ts
Due: check

refactor: update checkRateLimit to use object parameter signature
  apps/web/__tests__/lib/security-rate-limiting.test.ts
  apps/web/app/api/check-url/route.ts
  apps/web/app/api/user/check-username/route.ts
  apps/web/lib/__tests__/security-utils.test.ts
  apps/web/lib/security-utils.ts
Due: check

fix: improve rate limiting and Edge Runtime compatibility in middleware (#374)
  apps/web/__tests__/lib/security-rate-limiting.test.ts
  apps/web/app/api/check-url/route.ts
  apps/web/app/api/user/check-username/route.ts
  apps/web/lib/__tests__/security-utils.test.ts
  apps/web/lib/security-utils.ts
  apps/web/middleware.ts
Due: check

fix: responsive header
  apps/web/components/layout/header.tsx
  apps/web/components/stats/github-stars.tsx
Due: check

fix: extra paddings
  apps/web/app/guides/page.tsx
  apps/web/app/websites/[slug]/page.tsx
  apps/web/components/layout/header.tsx
  apps/web/components/llm/llm-grid.tsx
Due: check

refactor: split header component to reduce complexity
  apps/web/components/layout/header-nav-link.tsx
  apps/web/components/layout/header-search.tsx
  apps/web/components/layout/header-user-menu.tsx
  apps/web/components/layout/header.tsx
Due: check

refactor: split header components and add JSDoc comments
  apps/web/app/websites/[slug]/page.tsx
  apps/web/components/llm/llm-grid.tsx
  apps/web/lib/security-utils.ts
  packages/design-system/components/shadcn/alert.tsx
  packages/design-system/components/shadcn/badge.tsx
  packages/design-system/components/shadcn/button.tsx
  packages/design-system/components/shadcn/toggle.tsx
Due: check

fix: improve navigation and UI component behavior
  apps/web/components/layout/header-nav-link.tsx
  apps/web/components/layout/header.tsx
  packages/design-system/components/shadcn/toggle.tsx
Due: check

fix: header responsive issues (#375)
  apps/web/app/guides/page.tsx
  apps/web/app/websites/[slug]/page.tsx
  apps/web/components/layout/header-nav-link.tsx
  apps/web/components/layout/header-search.tsx
  apps/web/components/layout/header-user-menu.tsx
  apps/web/components/layout/header.tsx
  apps/web/components/llm/llm-grid.tsx
  apps/web/components/stats/github-stars.tsx
  apps/web/lib/security-utils.ts
  packages/design-system/components/shadcn/alert.tsx
  packages/design-system/components/shadcn/badge.tsx
  packages/design-system/components/shadcn/button.tsx
  packages/design-system/components/shadcn/toggle.tsx
Due: check

fix: correct Raycast extension URL and fix sitemap redirects
  apps/web/lib/tools.ts
  apps/web/middleware.ts
  lychee.toml
  packages/content/data/websites/1rpc-llms-txt.mdx
  packages/content/data/websites/adly-llms-txt.mdx
  packages/content/data/websites/alpha-network-llms-txt.mdx
  packages/content/data/websites/apu-center-llms-txt.mdx
  packages/content/data/websites/capfizz-llms-txt.mdx
  packages/content/data/websites/chainspect-llms-txt.mdx
  packages/content/data/websites/fasthtml-llms-txt.mdx
  packages/content/data/websites/funky-pearls-radio-llms-txt.mdx
  packages/content/data/websites/infinity-wallet-llms-txt.mdx
  packages/content/data/websites/kroma-llms-txt.mdx
  packages/content/data/websites/localization-asia-llms-txt.mdx
  packages/content/data/websites/nova-store-llms-txt.mdx
  packages/content/data/websites/rizk-llms-txt.mdx
  packages/content/data/websites/swred-llms-txt.mdx
  packages/content/data/websites/youropinion-is-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

fix: remove apu-center MDX due to missing required llmsUrl field
  packages/content/data/websites/apu-center-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: correct Raycast extension URL and fix sitemap redirects (#376)
  apps/web/lib/tools.ts
  apps/web/middleware.ts
  lychee.toml
  packages/content/data/websites/1rpc-llms-txt.mdx
  packages/content/data/websites/adly-llms-txt.mdx
  packages/content/data/websites/alpha-network-llms-txt.mdx
  packages/content/data/websites/apu-center-llms-txt.mdx
  packages/content/data/websites/capfizz-llms-txt.mdx
  packages/content/data/websites/chainspect-llms-txt.mdx
  packages/content/data/websites/fasthtml-llms-txt.mdx
  packages/content/data/websites/funky-pearls-radio-llms-txt.mdx
  packages/content/data/websites/infinity-wallet-llms-txt.mdx
  packages/content/data/websites/kroma-llms-txt.mdx
  packages/content/data/websites/localization-asia-llms-txt.mdx
  packages/content/data/websites/nova-store-llms-txt.mdx
  packages/content/data/websites/rizk-llms-txt.mdx
  packages/content/data/websites/swred-llms-txt.mdx
  packages/content/data/websites/youropinion-is-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

docs: update llms.txt list [skip ci] (#377)
  README.md
Due: none

feat: update newsletter
  apps/web/.env.example
  apps/web/app/api/newsletter/subscribe/route.ts
  apps/web/components/forms/email-subscription-form.tsx
  apps/web/components/forms/newsletter-form.tsx
  apps/web/components/sections/newsletter-section.tsx
  apps/web/public/search/search-index.json
Due: check

feat: create newsletter package
  apps/web/.env.example
  apps/web/app/api/newsletter/subscribe/route.ts
  apps/web/components/forms/email-subscription-form.tsx
  apps/web/components/forms/newsletter-form.tsx
  apps/web/env.ts
  apps/web/package.json
  packages/newsletter/package.json
  packages/newsletter/src/factory.ts
  packages/newsletter/src/index.ts
  packages/newsletter/src/keys.ts
  packages/newsletter/src/providers/kit.ts
  packages/newsletter/src/providers/mailerlite.ts
  packages/newsletter/src/providers/substack.ts
  packages/newsletter/src/types.ts
  packages/newsletter/tsconfig.json
  packages/newsletter/tsup.config.ts
  pnpm-lock.yaml
Due: check

feat: create newsletter package and fix barrel file validation
  apps/web/app/api/csrf/route.ts
  apps/web/app/api/debug/clear-github-cache/route.ts
  apps/web/app/api/debug/clear-redis-cache/route.ts
  apps/web/app/api/debug/github-contributions/route.ts
  apps/web/app/api/debug/github-rate-limit/route.ts
  apps/web/app/api/debug/redis-cache/route.ts
  apps/web/app/api/newsletter/subscribe/route.ts
  apps/web/app/guides/page.tsx
  apps/web/app/u/[slug]/page.tsx
  apps/web/app/websites/[slug]/page.tsx
  apps/web/components/__tests__/csrf-provider.test.tsx
  apps/web/components/forms/email-subscription-form.tsx
  apps/web/components/forms/newsletter-form.tsx
  apps/web/components/layout/header-nav-link.tsx
  apps/web/components/layout/header-search.tsx
  apps/web/components/layout/header-user-menu.tsx
  apps/web/components/layout/header.tsx
  apps/web/components/llm/llm-grid.tsx
  apps/web/components/profile/profile-contributions.tsx
  apps/web/env.ts
  apps/web/public/search/search-index.json
  configs/typescript/package.json
  packages/content/package.json
  packages/design-system/components/shadcn/alert.tsx
  packages/design-system/components/shadcn/badge.tsx
  packages/design-system/components/shadcn/button.tsx
  packages/design-system/components/shadcn/toggle.tsx
  packages/newsletter/package.json
  packages/newsletter/src/index.ts
  packages/newsletter/src/keys.ts
  packages/newsletter/src/providers/kit.ts
  packages/newsletter/tsconfig.json
  packages/newsletter/tsup.config.ts
  packages/validators/src/barrel-files.js
  pnpm-lock.yaml
  scripts/generate-websites.ts
  scripts/validation/check-barrel-files.js
Due: check

fix: improve code quality and test reliability
  apps/e2e/playwright.config.ts
  apps/web/app/api/members/route.ts
  apps/web/components/llm/llm-grid.tsx
  apps/web/lib/clerk.ts
  apps/web/lib/member-server-utils.ts
  apps/web/lib/members.ts
Due: check

fix: resolve production errors and improve test reliability
  apps/e2e/tests/interactions.spec.ts
  apps/web/app/(files)/llms.txt/route.ts
  packages/observability/keys.ts
Due: check

fix: make entire website cards clickable instead of just titles
  apps/web/components/llm/llm-grid.tsx
Due: check

fix: card hover state and some code improvements (#380)
  apps/e2e/playwright.config.ts
  apps/e2e/tests/interactions.spec.ts
  apps/web/app/(files)/llms.txt/route.ts
  apps/web/app/api/members/route.ts
  apps/web/components/llm/llm-grid.tsx
  apps/web/lib/clerk.ts
  apps/web/lib/member-server-utils.ts
  apps/web/lib/members.ts
  packages/observability/keys.ts
Due: check

fix: update e2e tests to match current UI and routes
  apps/e2e/tests/interactions.spec.ts
  apps/e2e/tests/pages.spec.ts
  apps/e2e/tests/simple.spec.ts
  apps/web/test-results/.last-run.json
Due: check

ci: add timeouts to PR workflow jobs
  .github/workflows/pr-review.yml
Due: none

fix: correct invalid Playwright goto option in simple.spec.ts
  apps/e2e/tests/simple.spec.ts
Due: check

chore: remove test artifacts and improve .gitignore
  .gitignore
  apps/web/test-results/.last-run.json
Due: check

ci: enhance PR workflow with better debugging and traces
  .github/workflows/pr-review.yml
Due: none

test: improve navigation test selector specificity
  apps/e2e/tests/simple.spec.ts
Due: check

fix: add missing test:e2e:ci command to root package.json
  package.json
Due: check

test: improve e2e test selectors for better accessibility and reliability
  apps/e2e/tests/interactions.spec.ts
Due: check

test: enhance page tests with role-based selectors and better assertions
  apps/e2e/tests/pages.spec.ts
Due: check
