Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check-frontmatter:
  run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

check-mdx-length:
  run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

check-as-casts:
  run: node scripts/validation/check-as-casts.js {staged_files}

check-console-logs:
  run: node scripts/validation/check-console-logs.js {staged_files}

check-file-complexity:
  run: node scripts/validation/check-file-complexity.js {staged_files}

check-jsdoc:
  run: node scripts/validation/check-jsdoc.js {staged_files}

test-modified:
  run: cd apps/web && pnpm test:related {staged_files}

Add Automatio AI to llms.txt directory
  packages/content/data/websites/automatio-ai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add TaxShield RE to llms.txt directory
  packages/content/data/websites/taxshield-re-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add tradicted to llms.txt directory
  packages/content/data/websites/tradicted-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add DadSEO to llms.txt directory
  packages/content/data/websites/dadseo-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Empire Chase Harrow to llms.txt directory
  packages/content/data/websites/empire-chase-harrow-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Atabas Grup Dış Ticaret to llms.txt directory
  packages/content/data/websites/atabas-grup-d-s-ticaret-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add 20 AI-powered vertical SaaS platforms from Systems AI Lab
  data/websites.json
Due: check

Add 20 AI-powered niche SaaS brands
  data/websites.json
Due: check

Add Kullhaus Hellas to llms.txt directory
  packages/content/data/websites/kullhaus-hellas-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add afb to llms.txt directory
  packages/content/data/websites/afb-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Conduit — agent infrastructure for SaaS products
  packages/content/data/websites/conduit-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add shortlist to llms.txt hub
  data/websites.json
Due: check

Add Website Monitoring to llms.txt directory
  packages/content/data/websites/website-monitoring-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add MoltSocial to websites.json
  data/websites.json
Due: check

Add sofiastage.com to llms.txt directory
  packages/content/data/websites/sofiastage-com-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add inboxsuperpilot.com to llms.txt hub
  packages/content/data/websites/inboxsuperpilot-com-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add APIMesh to llms.txt directory
  packages/content/data/websites/apimesh-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: Add Bananai to llms.txt directory
  packages/content/websites/data/bananai-llms-txt.mdx
Due: none

Add 66机械网 to llms.txt directory
  packages/content/data/websites/66-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Symmetric IT Group to llms.txt directory
  packages/content/data/websites/symmetric-it-group-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Kaizen2go Lean Baukasten to llms.txt directory
  packages/content/data/websites/kaizen2go-lean-baukasten-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

chore(ci): fix websites.json updater to use PR workflow
  .github/workflows/update-websites-json.yml
  .github/workflows/update-websites-json.yml.new
  scripts/generate-websites.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

feat(web): add extension lifecycle update and feedback flow
  apps/web/__tests__/middleware-public-routes.test.ts
  apps/web/app/api/extension-feedback/__tests__/route.test.ts
  apps/web/app/api/extension-feedback/route.ts
  apps/web/app/extension/uninstall/__tests__/uninstall-feedback-form.test.tsx
  apps/web/app/extension/uninstall/page.tsx
  apps/web/app/extension/uninstall/uninstall-feedback-form.tsx
  apps/web/app/extension/whats-new/__tests__/page.test.tsx
  apps/web/app/extension/whats-new/page.tsx
  apps/web/app/sitemap.ts
  apps/web/content-collections.ts
  apps/web/lib/extension-updates.ts
  apps/web/lib/routes.ts
  apps/web/middleware.ts
  packages/content/data/extension-updates/2-0-0.mdx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat(web): refine extension update experience
  apps/web/app/extension/whats-new/__tests__/page.test.tsx
  apps/web/app/extension/whats-new/page.tsx
  apps/web/app/layout.tsx
  apps/web/middleware.ts
  apps/web/next-env.d.ts
  apps/web/public/extension-updates/screenshots/checker-sidebar.png
  apps/web/public/extension-updates/screenshots/new-popup-v2.png
  apps/web/public/extension-updates/screenshots/site-exclusion.png
  packages/content/data/extension-updates/2-0-0.mdx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(web): restore uninstall feedback submit flow and proxy/csp handling
  apps/web/__tests__/middleware-public-routes.test.ts
  apps/web/app/extension/uninstall/__tests__/uninstall-feedback-form.test.tsx
  apps/web/app/extension/uninstall/uninstall-feedback-form.tsx
  apps/web/app/layout.tsx
  apps/web/middleware.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat(web): persist extension feedback and add protected read API
  apps/web/.env.example
  apps/web/app/api/extension-feedback/__tests__/route.test.ts
  apps/web/app/api/extension-feedback/route.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat: add Satori Defense to llms.txt directory
  data/websites.json
Due: check

Add Banan AI - AI Image Generator to llms.txt directory
  packages/content/data/websites/banan-ai-ai-image-generator-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Agile Automation to llms.txt directory
  packages/content/data/websites/agile-automation-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Strale website information to websites.json
  data/websites.json
Due: check

Add TRG International to llms.txt directory
  packages/content/data/websites/trg-international-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Update description for Strale in websites.json
  data/websites.json
Due: check

Add TRG International to llms.txt directory (#694)
  packages/content/data/websites/trg-international-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Banan AI - AI Image Generator to llms.txt directory (#692)
  packages/content/data/websites/banan-ai-ai-image-generator-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Website Monitoring to llms.txt directory (#681)
  packages/content/data/websites/website-monitoring-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Create Metabase documentation in metabase-llms-txt.mdx
  packages/content/data/websites/metabase-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Use product name as title
  packages/content/data/websites/metabase-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Update packages/content/data/websites/metabase-llms-txt.mdx
  packages/content/data/websites/metabase-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add publishedAt based on Copilot review
  packages/content/data/websites/metabase-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-frontmatter: any of: packages/content/data/websites/*.mdx
  check-mdx-length: any of: packages/content/data/websites/*.mdx
  check-as-casts: any of: **/*.{ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-console-logs: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*, scripts/**, **/scripts/**, packages/validators/**, **/packages/validators/**, packages/generator/**, **/packages/generator/**, packages/cli/**, **/packages/cli/**
  check-file-complexity: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-jsdoc: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  test-modified: any of: apps/web/**/*.{test,spec}.{js,ts,tsx}
