Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check-frontmatter:
  run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

check-mdx-length:
  run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

check-as-casts:
  run: node scripts/validation/check-as-casts.js {staged_files}

check-console-logs:
  run: node scripts/validation/check-console-logs.js {staged_files}

check-file-complexity:
  run: node scripts/validation/check-file-complexity.js {staged_files}

check-jsdoc:
  run: node scripts/validation/check-jsdoc.js {staged_files}

test-modified:
  run: cd apps/web && pnpm test:related {staged_files}

fix(community): point AI Product Index at its canonical https host
  packages/content/data/websites/ai-product-index-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

docs: harden submission trust design
  docs/superpowers/specs/2026-08-01-trusted-automatic-submissions-design.md
Due: none

docs: design trusted automatic submissions
  docs/superpowers/specs/2026-08-01-trusted-automatic-submissions-design.md
Due: none

docs: plan trusted automatic submissions
  docs/superpowers/plans/2026-08-01-trusted-automatic-submissions.md
Due: none

feat: scaffold submission trust package
  .env.example
  apps/web/env.ts
  apps/web/package.json
  package.json
  packages/submission-trust/package.json
  packages/submission-trust/src/constants.ts
  packages/submission-trust/src/types.test.ts
  packages/submission-trust/src/types.ts
  packages/submission-trust/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: harden submission trust contracts
  packages/submission-trust/src/types.test.ts
  packages/submission-trust/src/types.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: distinguish site family decisions
  packages/submission-trust/src/types.test.ts
  packages/submission-trust/src/types.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

feat: harden submission URL inspection
  apps/web/lib/__tests__/url-safety.test.ts
  apps/web/lib/url-safety.ts
  packages/submission-trust/src/network-inspector.test.ts
  packages/submission-trust/src/network-inspector.ts
  packages/submission-trust/src/types.test.ts
  packages/submission-trust/src/types.ts
  packages/submission-trust/src/url-policy.test.ts
  packages/submission-trust/src/url-policy.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: close URL inspection policy gaps
  apps/web/lib/__tests__/url-safety.test.ts
  packages/submission-trust/src/network-inspector.test.ts
  packages/submission-trust/src/url-policy.test.ts
  packages/submission-trust/src/url-policy.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: preserve URL protocol errors
  apps/web/lib/__tests__/url-safety.test.ts
  packages/submission-trust/src/url-policy.test.ts
  packages/submission-trust/src/url-policy.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: close pinned inspection security gaps
  apps/web/lib/__tests__/url-safety.test.ts
  packages/submission-trust/src/network-inspector-cancellation.test.ts
  packages/submission-trust/src/network-inspector.test.ts
  packages/submission-trust/src/network-inspector.ts
  packages/submission-trust/src/node-https-transport.test.ts
  packages/submission-trust/src/node-https-transport.ts
  packages/submission-trust/src/types.test.ts
  packages/submission-trust/src/types.ts
  packages/submission-trust/src/url-policy.test.ts
  packages/submission-trust/src/url-policy.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: keep transport evidence fail closed
  packages/submission-trust/src/network-inspector.test.ts
  packages/submission-trust/src/network-inspector.ts
  packages/submission-trust/src/node-https-transport.test.ts
  packages/submission-trust/src/node-https-transport.ts
  packages/submission-trust/src/types.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

test: harden reputation runtime validation
  packages/submission-trust/src/network-inspector.test.ts
  packages/submission-trust/src/network-inspector.ts
  packages/submission-trust/src/node-https-transport.test.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

feat: assess submission reputation and resources
  apps/web/app/api/check-url/__tests__/route.test.ts
  apps/web/app/api/check-url/route.ts
  packages/submission-trust/package.json
  packages/submission-trust/src/assessment-resources.ts
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/assessment.ts
  packages/submission-trust/src/network-inspector.test.ts
  packages/submission-trust/src/network-inspector.ts
  packages/submission-trust/src/node-https-transport.ts
  packages/submission-trust/src/types.test.ts
  packages/submission-trust/src/types.ts
  packages/submission-trust/src/web-risk.test.ts
  packages/submission-trust/src/web-risk.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: keep resource assessment fail closed
  packages/submission-trust/package.json
  packages/submission-trust/src/assessment-resources.ts
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/assessment.ts
  packages/submission-trust/src/evidence.ts
  packages/submission-trust/src/network-inspector.test.ts
  packages/submission-trust/src/network-inspector.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: harden submission trust quality boundaries
  apps/web/app/api/check-url/__tests__/route.test.ts
  packages/submission-trust/src/assessment-resources.ts
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/assessment.ts
  packages/submission-trust/src/composition.test.ts
  packages/submission-trust/src/evidence.test.ts
  packages/submission-trust/src/evidence.ts
  packages/submission-trust/src/network-inspector.test.ts
  packages/submission-trust/src/network-inspector.ts
  packages/submission-trust/src/web-risk.test.ts
  packages/submission-trust/src/web-risk.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: reject unrelated transient redirects
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/assessment.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: harden llms content classification
  packages/submission-trust/package.json
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/assessment.ts
  packages/submission-trust/src/llms-content-classifier.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: honor unsafe reputation expiry
  packages/submission-trust/src/network-inspector.test.ts
  packages/submission-trust/src/network-inspector.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: expand CommonMark indentation tabs
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/llms-content-classifier.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: allow indented Markdown code examples
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/llms-content-classifier.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

feat: classify submission editorial risk
  packages/submission-trust/src/assessment-editorial.ts
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/assessment.ts
  packages/submission-trust/src/composition.test.ts
  packages/submission-trust/src/editorial-policy.test.ts
  packages/submission-trust/src/editorial-policy.ts
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(submission-trust): parse llms markdown with remark
  packages/submission-trust/package.json
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/llms-content-classifier.ts
  pnpm-lock.yaml
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(submission-trust): require document-level h1
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/llms-content-classifier.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(submission-trust): harden editorial policy
  packages/submission-trust/src/assessment.test.ts
  packages/submission-trust/src/composition.test.ts
  packages/submission-trust/src/editorial-policy.test.ts
  packages/submission-trust/src/editorial-policy.ts
  scripts/pr-backfill-dry-run.test.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(submission-trust): harden regulated policy matching
  packages/submission-trust/src/editorial-policy.test.ts
  packages/submission-trust/src/editorial-policy.ts
  packages/submission-trust/src/regulated-token-policies.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(submission-trust): align editorial normalization limits
  packages/submission-trust/src/editorial-normalization.test.ts
  packages/submission-trust/src/editorial-normalization.ts
  packages/submission-trust/src/editorial-policy.test.ts
  packages/submission-trust/src/editorial-policy.ts
  packages/submission-trust/src/editorial-token-aliases.test.ts
  packages/submission-trust/src/editorial-token-aliases.ts
  packages/submission-trust/src/regulated-token-policies.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(submission-trust): bound editorial normalization
  packages/submission-trust/src/editorial-normalization.ts
  packages/submission-trust/src/editorial-policy.test.ts
  packages/submission-trust/src/editorial-policy.ts
  packages/submission-trust/src/regulated-token-policies.ts
  scripts/pr-backfill-dry-run.test.ts
  scripts/pr-backfill-dry-run.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(submission-trust): harden unicode normalization
  packages/submission-trust/src/editorial-normalization.test.ts
  packages/submission-trust/src/editorial-normalization.ts
  packages/submission-trust/src/editorial-policy.test.ts
  packages/submission-trust/src/editorial-policy.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

feat: sign automatic submission assessments
  packages/submission-trust/src/attestation.test.ts
  packages/submission-trust/src/attestation.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: contain malformed attestation inputs
  packages/submission-trust/src/attestation.test.ts
  packages/submission-trust/src/attestation.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: cap attestation by evidence freshness
  packages/submission-trust/src/attestation.test.ts
  packages/submission-trust/src/attestation.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: harden attestation verification window
  packages/submission-trust/src/attestation.test.ts
  packages/submission-trust/src/attestation.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: harden submission state reconciliation
  apps/web/lib/content-loader.ts
  apps/web/lib/submissions/strict-website-loader.ts
  apps/web/lib/submissions/submission-duplicates-default.test.ts
  apps/web/lib/submissions/submission-duplicates.test.ts
  apps/web/lib/submissions/submission-duplicates.ts
  apps/web/lib/submissions/submission-state-lua.test.ts
  apps/web/lib/submissions/submission-state-security.ts
  apps/web/lib/submissions/submission-state.test.ts
  apps/web/lib/submissions/submission-state.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: harden trusted submission boundaries
  apps/web/lib/redis.test.ts
  apps/web/lib/redis.ts
  apps/web/lib/submissions/submission-duplicates-default.test.ts
  apps/web/lib/submissions/submission-duplicates.test.ts
  apps/web/lib/submissions/submission-duplicates.ts
  apps/web/lib/submissions/submission-inspection-budget.ts
  apps/web/lib/submissions/submission-state-config.test.ts
  apps/web/lib/submissions/submission-state-lua.test.ts
  apps/web/lib/submissions/submission-state-security.ts
  apps/web/lib/submissions/submission-state.test.ts
  apps/web/lib/submissions/submission-state.ts
  packages/submission-trust/src/url-policy.test.ts
  packages/submission-trust/src/url-policy.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat: persist trusted submission state
  apps/web/lib/redis.ts
  apps/web/lib/submissions/submission-duplicates.test.ts
  apps/web/lib/submissions/submission-duplicates.ts
  apps/web/lib/submissions/submission-state-security.ts
  apps/web/lib/submissions/submission-state.test.ts
  apps/web/lib/submissions/submission-state.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: detect missing lua across jest realms
  apps/web/lib/submissions/submission-state-lua.test.ts
Due: check, test-modified

fix: canonicalize mapped submission addresses
  apps/web/lib/submissions/submission-state-lua.test.ts
  apps/web/lib/submissions/submission-state.test.ts
  apps/web/lib/submissions/submission-state.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: harden submission lifecycle recovery
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/lib/submissions/submission-publication-state.test.ts
  apps/web/lib/submissions/submission-publication-state.ts
  apps/web/lib/submissions/submission-publisher.test.ts
  apps/web/lib/submissions/submission-publisher.ts
  apps/web/lib/submissions/submission-state-security.ts
  apps/web/lib/submissions/submission-state.test.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat: orchestrate trusted website submissions
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/components/forms/submit-form-schemas.ts
  apps/web/lib/submissions/submission-action-input.ts
  apps/web/lib/submissions/submission-assessment.ts
  apps/web/lib/submissions/submission-publication-state.test.ts
  apps/web/lib/submissions/submission-publication-state.ts
  apps/web/lib/submissions/submission-publisher.test.ts
  apps/web/lib/submissions/submission-publisher.ts
  packages/submission-trust/package.json
  packages/submission-trust/src/assessment-editorial.ts
  packages/submission-trust/src/assessment.ts
  packages/submission-trust/src/editorial-normalization.ts
  packages/submission-trust/src/editorial-policy.ts
  packages/submission-trust/src/regulated-token-policies.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-frontmatter: any of: packages/content/data/websites/*.mdx
  check-mdx-length: any of: packages/content/data/websites/*.mdx
  check-as-casts: any of: **/*.{ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-console-logs: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*, scripts/**, **/scripts/**, packages/validators/**, **/packages/validators/**, packages/generator/**, **/packages/generator/**, packages/cli/**, **/packages/cli/**
  check-file-complexity: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-jsdoc: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  test-modified: any of: apps/web/**/*.{test,spec}.{js,ts,tsx}
