Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

lefthook.yml:

# Lefthook Configuration
# Using existing validation scripts

pre-commit:
  parallel: true
  commands:
    # Code formatting and linting
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

    # Package.json sorting
    sort-package-json:
      glob: "**/{package.json}"
      exclude: "node_modules/**"
      run: pnpm dlx sort-package-json {staged_files}
      stage_fixed: true

    # MDX content validation
    check-frontmatter:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

    check-mdx-length:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

    # TypeScript as casts validation
    check-as-casts:
      glob: "**/*.{ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-as-casts.js {staged_files}

    # Barrel files validation
    check-barrel-files:
      glob: "**/index.{js,ts,jsx,tsx}"
      exclude: "**/node_modules/**"
      run: node scripts/validation/check-barrel-files.js {staged_files}

    # Console logs validation
    check-console-logs:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
        - "scripts/**"
        - "**/scripts/**"
        - "packages/validators/**"
        - "**/packages/validators/**"
        - "packages/generator/**"
        - "**/packages/generator/**"
        - "packages/cli/**"
        - "**/packages/cli/**"
      run: node scripts/validation/check-console-logs.js {staged_files}

    # Directory structure validation
    check-directory-structure:
      run: node scripts/validation/check-directory-structure.js

    # File complexity validation
    check-file-complexity:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-file-complexity.js {staged_files}

    # JSDoc validation
    check-jsdoc:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-jsdoc.js {staged_files}

    # Relative imports validation
    check-relative-imports:
      glob: "apps/web/**/*.{ts,tsx,js,jsx}"
      exclude: "apps/web/**/node_modules/**"
      run: pnpm tsx scripts/check-relative-imports.ts {staged_files}

    # Test modified test files
    test-modified:
      glob: "apps/web/**/*.{test,spec}.{js,ts,tsx}"
      run: cd apps/web && pnpm test:related {staged_files}

# Pre-push validation
pre-push:
  commands:
    # Run tests
    test-all:
      run: turbo test --filter=web

# Commit message validation
commit-msg:
  commands:
    lint-commit-message:
      run: pnpm commitlint --edit {1}

drop duplicated directory entry
  data/websites.json
Due: check

Create giftscomic.mdx
  packages/content/data/websites/giftscomic.mdx
Due: check-frontmatter, check-mdx-length

Add Nyxel AEO to llms.txt hub
  packages/content/data/websites/nyxel-aeo-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add TranscriptFetch llms.txt
  packages/content/data/websites/transcriptfetch-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(websites): add History of Market
  packages/content/data/websites/history-of-market-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

add: citybiteguide.com
  packages/content/data/websites/citybiteguide-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add SwarmMemo llms.txt listing
  packages/content/data/websites/swarmmemo-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: use data-analytics so CityBiteGuide is included in the directory
  packages/content/data/websites/citybiteguide-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Agent message board (msgboard.dev)
  packages/content/data/websites/agent-message-board-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Lurto (lurtoagency.com)
  packages/content/data/websites/lurto-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Correct the app count to 46
  packages/content/data/websites/lumi-ios-app-guide-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add MarketCode UK property data documentation
  packages/content/data/websites/marketcode-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: populate MarketCode documentation entry
  packages/content/data/websites/marketcode-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Taylor Tides to llms.txt directory
  packages/content/data/websites/taylor-tides-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(websites): add AstraMedia llms.txt entry
  packages/content/data/websites/astramedia-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

docs: add Proxy Compare llms.txt listing
  packages/content/data/websites/proxy-compare-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Kids Stay to llms.txt hub
  packages/content/data/websites/kids-stay-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add springhire to llms.txt hub
  packages/content/data/websites/springhire-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add find4u.it to developer-tools
  packages/content/data/websites/find4u-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(community): recategorize Project Cost Estimator as developer-tools
  packages/content/data/websites/project-cost-estimator-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add SmartCrunch
  packages/content/data/websites/smartcrunch-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Nexoria Systems llms.txt listing
  packages/content/data/websites/nexoria-systems-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Update llmsFullUrl to point to full text file
  packages/content/data/websites/nexoria-systems-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(web): restore branded submission social cards
  apps/web/components/forms/submit-form-support.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

feat(websites): add SAGARIS
  packages/content/data/websites/sagaris-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(ci): run browser tests without global portless
  .github/workflows/pr-review.yml
  apps/e2e/playwright.config.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(submissions): require persisted dates before direct approval
  docs/runbooks/direct-pr-assessment.md
  scripts/pr-backfill-dry-run.ts
  scripts/pr-direct-assessment.test.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

Add LovedByAI
  packages/content/data/websites/lovedbyai-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: bring the description within the 160-char validation limit
  packages/content/data/websites/sagaris-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(submissions): keep social acknowledgement out of authorization
  apps/web/__tests__/integration/submit-project-happy-path.test.tsx
  apps/web/__tests__/utils/real-submission-helpers.tsx
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
  apps/web/actions/record-submission-support.test.ts
  apps/web/actions/record-submission-support.ts
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/app/api/fetch-metadata/__tests__/route.test.ts
  apps/web/app/api/fetch-metadata/route.ts
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/__tests__/submit-form-entry.test.tsx
  apps/web/components/forms/__tests__/submit-form-focus.test.tsx
  apps/web/components/forms/__tests__/submit-form-metadata.test.tsx
  apps/web/components/forms/__tests__/submit-form-support.test.tsx
  apps/web/components/forms/__tests__/submit-form-test-helpers.tsx
  apps/web/components/forms/__tests__/submit-form-url-status.test.tsx
  apps/web/components/forms/__tests__/submit-form.test.tsx
  apps/web/components/forms/submit-form-schemas.ts
  apps/web/components/forms/submit-form-support.tsx
  apps/web/components/forms/submit-form.tsx
  apps/web/components/forms/use-submit-form-metadata.ts
  apps/web/components/forms/use-submit-publication.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  apps/web/lib/submissions/submission-action-input.ts
  apps/web/lib/submissions/submission-support.test.ts
  apps/web/lib/submissions/submission-support.ts
  docs/superpowers/specs/2026-08-01-trusted-automatic-submissions-design.md
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(ci): run public browser tests without auth secrets
  .github/workflows/pr-review.yml
  apps/e2e/playwright.config.ts
  apps/e2e/tests/pages.spec.ts
  apps/e2e/tests/simple.spec.ts
  apps/web/components/layout/header.test.tsx
  apps/web/components/layout/header.tsx
  apps/web/lib/e2e-public-routes.test.ts
  apps/web/lib/e2e-public-routes.ts
  apps/web/proxy.ts
  scripts/deployment-dependencies.test.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

Add ToolTrace
  packages/content/data/websites/tooltrace-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(ci): provide empty public members fixture
  apps/web/lib/e2e-public-routes.test.ts
  apps/web/lib/e2e-public-routes.ts
  apps/web/lib/member-server-utils.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

docs(code): complete request helper contracts
  apps/web/actions/record-submission-support.test.ts
  apps/web/proxy.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified
