Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

lefthook.yml:

# Lefthook Configuration
# Using existing validation scripts

pre-commit:
  parallel: true
  commands:
    # Code formatting and linting
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

    # Package.json sorting
    sort-package-json:
      glob: "**/{package.json}"
      exclude: "node_modules/**"
      run: pnpm dlx sort-package-json {staged_files}
      stage_fixed: true

    # MDX content validation
    check-frontmatter:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

    check-mdx-length:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

    # TypeScript as casts validation
    check-as-casts:
      glob: "**/*.{ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-as-casts.js {staged_files}

    # Barrel files validation
    check-barrel-files:
      glob: "**/index.{js,ts,jsx,tsx}"
      exclude: "**/node_modules/**"
      run: node scripts/validation/check-barrel-files.js {staged_files}

    # Console logs validation
    check-console-logs:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
        - "scripts/**"
        - "**/scripts/**"
        - "packages/validators/**"
        - "**/packages/validators/**"
        - "packages/generator/**"
        - "**/packages/generator/**"
        - "packages/cli/**"
        - "**/packages/cli/**"
      run: node scripts/validation/check-console-logs.js {staged_files}

    # Directory structure validation
    check-directory-structure:
      run: node scripts/validation/check-directory-structure.js

    # File complexity validation
    check-file-complexity:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-file-complexity.js {staged_files}

    # JSDoc validation
    check-jsdoc:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-jsdoc.js {staged_files}

    # Relative imports validation
    check-relative-imports:
      glob: "apps/web/**/*.{ts,tsx,js,jsx}"
      exclude: "apps/web/**/node_modules/**"
      run: pnpm tsx scripts/check-relative-imports.ts {staged_files}

    # Test modified test files
    test-modified:
      glob: "apps/web/**/*.{test,spec}.{js,ts,tsx}"
      run: cd apps/web && pnpm test:related {staged_files}

# Pre-push validation
pre-push:
  commands:
    # Run tests
    test-all:
      run: turbo test --filter=web

# Commit message validation
commit-msg:
  commands:
    lint-commit-message:
      run: pnpm commitlint --edit {1}

feat(cli): rewrite init as interactive browse/search wizard
  packages/cli/src/commands/init.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

feat(cli): replace package-mappings with fuzzy dependency detection
  .changeset/fuzzy-dep-detection.md
  packages/cli/data/package-mappings.json
  packages/cli/scripts/build-registry.ts
  packages/cli/src/lib/detector.ts
  packages/cli/src/types/index.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

feat(cli): let users choose which agents to install skills to
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/lib/storage.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

fix(cli): show all agents with detected ones pre-selected
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

fix(cli): stop pre-selecting agents based on unreliable detection
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

feat(cli): add project-level agent detection, saved prefs, and format selection
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/lib/__tests__/agent-selection.test.ts
  packages/cli/src/lib/agent-selection.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

chore: remove claude
  CLAUDE.md
Due: none

fix(cli): stop modifying .gitignore automatically
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/lib/agents.ts
  packages/cli/src/lib/storage.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

chore: add changeset for agent selection and format features
  .changeset/agent-selection-format.md
Due: none

docs: update CLI README, fix website URL, and add CLI to main README
  README.md
  packages/cli/README.md
  packages/cli/src/commands/init.ts
  packages/cli/src/lib/telemetry.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

feat(web): add CLI install counts and fix middleware for CLI endpoints
  CLAUDE.md
  apps/web/.env.example
  apps/web/__mocks__/@t3-oss/env-nextjs.ts
  apps/web/app/api/cli/stats/[slug]/route.ts
  apps/web/app/api/cli/stats/__tests__/route.test.ts
  apps/web/app/api/cli/telemetry/__tests__/route.test.ts
  apps/web/app/api/cli/telemetry/route.ts
  apps/web/components/website/cli-install-count.tsx
  apps/web/components/website/website-llms-section.tsx
  apps/web/lib/env-config.ts
  apps/web/lib/member-server-utils.ts
  apps/web/lib/redis.ts
  apps/web/middleware.ts
  apps/web/next-env.d.ts
  packages/caching/README.md
  packages/caching/keys.ts
  packages/caching/upstash.ts
  packages/rate-limiting/index.ts
  packages/rate-limiting/keys.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

chore: update Redis env var names in turbo.json
  turbo.json
Due: check

feat(web): add detail page sidebar with per-agent install stats
  apps/web/app/api/cli/telemetry/__tests__/route.test.ts
  apps/web/app/api/cli/telemetry/route.ts
  apps/web/app/websites/[slug]/page.tsx
  apps/web/components/website/cli-install-count.tsx
  apps/web/components/website/index.ts
  apps/web/components/website/website-detail-sidebar.tsx
  apps/web/components/website/website-hero.tsx
  apps/web/components/website/website-llms-section.tsx
  apps/web/components/website/website-related-projects.tsx
  apps/web/lib/schema.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

refactor(web): move CLI install section above llms.txt and remove card background
  apps/web/app/websites/[slug]/page.tsx
  apps/web/components/website/index.ts
  apps/web/components/website/website-cli-section.tsx
  apps/web/components/website/website-docs-section.tsx
  apps/web/components/website/website-llms-section.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(web): override inline code background on CLI terminal command
  apps/web/components/website/website-cli-section.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(web): use span instead of code for CLI terminal command
  apps/web/components/website/website-cli-section.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(web): harden bot protection and fix profile/members page loading failures
  apps/web/app/robots.ts
  apps/web/app/u/[slug]/metadata.ts
  apps/web/components/profile/profile-header.tsx
  apps/web/lib/__tests__/security-utils.test.ts
  apps/web/lib/middleware-csrf.ts
  apps/web/lib/security-utils-helpers.ts
  apps/web/lib/security-utils.ts
  apps/web/lib/user-search.ts
  apps/web/middleware.ts
  apps/web/next.config.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat(web): add CLI docs pages, document telemetry, disable news page
  .changeset/cli-docs-and-news-redirect.md
  apps/web/.env.example
  apps/web/actions/get-home-page-data.ts
  apps/web/app/api/members/__tests__/route.test.ts
  apps/web/app/api/members/route.ts
  apps/web/app/api/webhooks/clerk/route.ts
  apps/web/app/docs/[slug]/page.tsx
  apps/web/app/docs/layout.tsx
  apps/web/app/docs/page.tsx
  apps/web/app/guides/[slug]/page.tsx
  apps/web/app/news/error.tsx
  apps/web/app/news/loading.tsx
  apps/web/app/news/page.tsx
  apps/web/app/page.tsx
  apps/web/components/docs/docs-sidebar.tsx
  apps/web/components/layout/footer.tsx
  apps/web/components/layout/header.tsx
  apps/web/components/layout/mobile-drawer.tsx
  apps/web/components/mdx/index.tsx
  apps/web/components/website/website-hero.tsx
  apps/web/content-collections.ts
  apps/web/lib/content-loader.ts
  apps/web/lib/member-server-utils.ts
  apps/web/lib/members.ts
  apps/web/lib/redis.ts
  apps/web/lib/routes.ts
  apps/web/lib/seo/seo-config.ts
  apps/web/lib/seo/seo-helpers.ts
  apps/web/middleware.ts
  apps/web/next-env.d.ts
  apps/web/next.config.ts
  packages/content/data/docs/agents.mdx
  packages/content/data/docs/commands.mdx
  packages/content/data/docs/getting-started.mdx
  packages/design-system/package.json
  packages/design-system/styles/globals.css
  pnpm-lock.yaml
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix: add missing env vars to turbo.json build task
  turbo.json
Due: check

fix: correct changeset to target llmstxt-cli, add missing turbo env vars
  .changeset/cli-docs-and-news-redirect.md
Due: none

fix: update e2e tests to match current UI and routes
  apps/web/test-results/.last-run.json
Due: check

chore: remove test artifacts and improve .gitignore
  .gitignore
  apps/web/test-results/.last-run.json
Due: check

ci: add timeouts to PR workflow jobs
  .github/workflows/pr-review.yml
Due: none

ci: enhance PR workflow with better debugging and traces
  .github/workflows/pr-review.yml
Due: none

perf: optimize e2e tests for faster CI execution
  .github/workflows/pr-review.yml
  apps/e2e/package.json
  apps/e2e/playwright.config.ci.ts
  apps/e2e/playwright.config.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: add missing test:e2e:ci command to root package.json
  package.json
Due: check

fix: add test:e2e:ci task to turbo.json configuration
  turbo.json
Due: check

fix: disable Turbo cache for CI e2e tests
  apps/e2e/test-results.json
  package.json
  turbo.json
Due: check

fix: improve mobile clickability for website cards
  apps/web/components/llm/llm-grid.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

refactor: remove redundant z-index classes from llm-grid
  .github/workflows/pr-review.yml
  apps/e2e/playwright.config.ci.ts
  apps/e2e/test-results.json
  apps/web/components/llm/llm-grid.tsx
  apps/web/lib/env-config.ts
  apps/web/public/search/search-index.json
  packages/observability/keys.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

Create poof.mdx for background removal API
  packages/content/data/websites/poof.mdx
Due: check-frontmatter, check-mdx-length

fix: stabilize e2e and allow plausible proxy events
  .github/workflows/pr-review.yml
  apps/e2e/playwright.config.ts
  apps/e2e/tests/home.spec.ts
  apps/e2e/tests/interactions.spec.ts
  apps/e2e/tests/minimal.spec.ts
  apps/e2e/tests/pages.spec.ts
  apps/e2e/tests/simple.spec.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/lib/env-config.ts
  apps/web/middleware.ts
  apps/web/public/search/search-index.json
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

refactor: unify member visibility logic and ci e2e config
  .github/workflows/pr-review.yml
  apps/e2e/playwright.config.ci.ts
  apps/web/app/api/members/route.ts
  apps/web/lib/member-server-utils.ts
  apps/web/lib/member-shared.ts
  apps/web/lib/members.ts
  apps/web/lib/profile-utils.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix: pass clerk env vars to e2e ci turbo task
  turbo.json
Due: check

fix: fallback clerk keys for e2e ci webserver
  apps/e2e/playwright.config.ci.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc
