Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

check-frontmatter:
  run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

check-mdx-length:
  run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

check-as-casts:
  run: node scripts/validation/check-as-casts.js {staged_files}

check-console-logs:
  run: node scripts/validation/check-console-logs.js {staged_files}

check-file-complexity:
  run: node scripts/validation/check-file-complexity.js {staged_files}

check-jsdoc:
  run: node scripts/validation/check-jsdoc.js {staged_files}

test-modified:
  run: cd apps/web && pnpm test:related {staged_files}

feat: add The Poliety
  packages/content/data/websites/the-poliety-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

docs: add llms-txt-check to Developer Tools
  README.md
Due: none

Add ProofLines (prooflines.org) to data-analytics
  data/websites.json
Due: check

feat(community): add ByKaranteli to llms.txt hub
  packages/content/data/websites/bykaranteli-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Reboot Hub llms.txt
  packages/content/data/websites/reboot-hub-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Motion Menu to llms.txt hub
  packages/content/data/websites/motion-menu-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(content): add TLMNT Mini App Doctor
  packages/content/data/websites/tlmnt-mini-app-doctor-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Hydracept llms.txt listing for game AI API installs.
  packages/content/data/websites/hydracept-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Corank to llms.txt hub
  packages/content/data/websites/corank-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add What's New (whatsnew.fyi)
  packages/content/data/websites/whats-new-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

docs: capitalize Markdown
  packages/content/data/websites/whats-new-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add six rgoswami.me docs sites with /llms.txt
  data/websites.json
Due: check

Add Nexus Shell documentation in llms.txt format
  packages/content/data/websites/nexus-shell-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Autonomy Labs AI-agent storefront to llms-txt directory
  data/websites.json
Due: check

Add Gandr to AI & Machine Learning
  packages/content/data/websites/gandr-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(analytics): use hosted OpenPanel instance
  apps/web/app/api/op/[...path]/route.ts
  packages/analytics/server.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

Add Traceplain
  packages/content/data/websites/traceplain-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Update team.management description
  packages/content/data/websites/team-management-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: Add L'Eco di Turing to directory
  data/websites.json
Due: check

feat(websites): add 5 French open-data sites (Super Prénom, Supermédecin, morts.fr, Super Livre, Superdatcha)
  packages/content/data/websites/morts-fr-llms-txt.mdx
  packages/content/data/websites/super-livre-llms-txt.mdx
  packages/content/data/websites/super-prenom-llms-txt.mdx
  packages/content/data/websites/superdatcha-llms-txt.mdx
  packages/content/data/websites/supermedecin-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

ci: route production deploys through selected provider
  .gitea/workflows/routed-ci.yml
  .github/workflows/routed-ci.yml
  scripts/ci/deploy-vercel.sh
  scripts/ci/deployment-state.sh
  scripts/ci/validate.sh
Due: none

test: bound web test concurrency
  apps/web/jest.config.ts
  scripts/ci/validate.sh
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

test: serialize web test execution
  apps/web/jest.config.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

test: generate content before web tests
  lefthook.yml
  scripts/ci/validate.sh
Due: none

test: allow realistic UI interaction time
  apps/web/jest.config.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

test(cli): make telemetry assertion CI-aware
  packages/cli/src/lib/__tests__/telemetry.test.ts
Due: check

fix(ci): generate content before web tests
  .github/workflows/pr-review.yml
  apps/web/package.json
Due: check

feat(websites): add Sense2 (sense2.com.au)
  packages/content/data/websites/sense2-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Route production deploys through selected CI (#1490)
  .gitea/workflows/routed-ci.yml
  .github/workflows/pr-review.yml
  .github/workflows/routed-ci.yml
  apps/web/jest.config.ts
  apps/web/package.json
  lefthook.yml
  packages/cli/src/lib/__tests__/telemetry.test.ts
  scripts/ci/deploy-vercel.sh
  scripts/ci/deployment-state.sh
  scripts/ci/validate.sh
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(ci): align routed validation with project checks
  scripts/ci/validate.sh
Due: none

fix(ci): isolate sensitive Vercel build values
  scripts/ci/deploy-vercel.sh
Due: none

fix(ci): preserve in-flight routed builds
  .gitea/workflows/routed-ci.yml
Due: none

feat(content): add HIL APIs
  packages/content/data/websites/hil-apis-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(web): stop reporting handled Redis failures to Sentry
  apps/web/lib/redis.test.ts
  apps/web/lib/redis.ts
  packages/logging/index.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(ci): re-supply OpenPanel client ID to routed builds
  scripts/ci/deploy-vercel.sh
Due: none

fix(web): harden OpenPanel analytics proxy
  apps/web/app/api/op/[...path]/route.ts
  apps/web/proxy.ts
  turbo.json
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

ci: trigger Gitea mirror sync on push to main
  .github/workflows/sync-gitea-mirror.yml
Due: none

ci: allow manual dispatch of Gitea mirror sync
  .github/workflows/sync-gitea-mirror.yml
Due: none

ci: move mirror sync polling into Gitea Actions
  .gitea/workflows/mirror-sync.yml
  .github/workflows/sync-gitea-mirror.yml
Due: none

ci: rename mirror sync secret to MIRROR_SYNC_TOKEN
  .gitea/workflows/mirror-sync.yml
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-frontmatter: any of: packages/content/data/websites/*.mdx
  check-mdx-length: any of: packages/content/data/websites/*.mdx
  check-as-casts: any of: **/*.{ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-console-logs: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*, scripts/**, **/scripts/**, packages/validators/**, **/packages/validators/**, packages/generator/**, **/packages/generator/**, packages/cli/**, **/packages/cli/**
  check-file-complexity: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  check-jsdoc: any of: **/*.{js,jsx,ts,tsx}, but not: **/node_modules/**, **/*.test.*, **/*.spec.*
  test-modified: any of: apps/web/**/*.{test,spec}.{js,ts,tsx}
