Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, test-modified

lefthook.yml:

# Lefthook Configuration
# Using existing validation scripts

pre-commit:
  parallel: true
  commands:
    # Code formatting and linting
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    
    # Package.json sorting
    sort-package-json:
      glob: "**/{package.json}"
      exclude: "node_modules/**"
      run: pnpm dlx sort-package-json {staged_files}
      stage_fixed: true
    
    # MDX content validation
    check-frontmatter:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-frontmatter.ts {staged_files}
    
    check-mdx-length:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-mdx-length.ts {staged_files}
    
    # TypeScript as casts validation
    check-as-casts:
      glob: "**/*.{ts,tsx}"
      exclude: |
        **/node_modules/**
        **/*.test.*
        **/*.spec.*
      run: node scripts/validation/check-as-casts.js {staged_files}
    
    # Barrel files validation
    check-barrel-files:
      glob: "**/index.{js,ts,jsx,tsx}"
      exclude: "**/node_modules/**"
      run: node scripts/validation/check-barrel-files.js {staged_files}
    
    # Console logs validation
    check-console-logs:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude: |
        **/node_modules/**
        **/*.test.*
        **/*.spec.*
        **/scripts/**
        **/packages/validators/**
        **/packages/generator/**
      run: node scripts/validation/check-console-logs.js {staged_files}
    
    # Directory structure validation
    check-directory-structure:
      run: node scripts/validation/check-directory-structure.js
    
    # File complexity validation
    check-file-complexity:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude: |
        **/node_modules/**
        **/*.test.*
        **/*.spec.*
      run: node scripts/validation/check-file-complexity.js {staged_files}
    
    # JSDoc validation
    check-jsdoc:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude: |
        **/node_modules/**
        **/*.test.*
        **/*.spec.*
      run: node scripts/validation/check-jsdoc.js {staged_files}
    
    # Relative imports validation
    check-relative-imports:
      glob: "apps/web/**/*.{ts,tsx,js,jsx}"
      exclude: "apps/web/**/node_modules/**"
      run: pnpm tsx scripts/check-relative-imports.ts {staged_files}
    
    # Test modified test files
    test-modified:
      glob: "apps/web/**/*.{test,spec}.{js,ts,tsx}"
      run: cd apps/web && pnpm test:related {staged_files}

# Pre-push validation
pre-push:
  commands:
    # Run tests
    test-all:
      run: turbo test --filter=web

# Commit message validation
commit-msg:
  commands:
    lint-commit-message:
      run: pnpm commitlint --edit {1}

fix: resolve remaining e2e test failures
  apps/e2e/tests/interactions.spec.ts
  apps/e2e/tests/pages.spec.ts
Due: check

perf: optimize e2e tests for faster CI execution
  .github/workflows/pr-review.yml
  apps/e2e/package.json
  apps/e2e/playwright.config.ci.ts
  apps/e2e/playwright.config.ts
Due: check

fix: add test:e2e:ci task to turbo.json configuration
  turbo.json
Due: check

fix: disable Turbo cache for CI e2e tests
  apps/e2e/test-results.json
  package.json
  turbo.json
Due: check

fix: improve mobile clickability for website cards
  apps/web/components/llm/llm-grid.tsx
  fix.md
Due: check

refactor: remove redundant z-index classes from llm-grid
  .github/workflows/pr-review.yml
  apps/e2e/playwright.config.ci.ts
  apps/e2e/test-results.json
  apps/web/components/llm/llm-grid.tsx
  apps/web/lib/env-config.ts
  apps/web/lib/member-server-utils.ts
  apps/web/lib/members.ts
  apps/web/public/search/search-index.json
  packages/observability/keys.ts
Due: check

refactor: apply DRY principles and eliminate code duplication
  apps/web/app/api/members/contributions/route.ts
  apps/web/app/api/members/route.ts
  apps/web/app/members/members-search.tsx
  apps/web/components/favorites/favorite-button.tsx
  apps/web/hooks/use-debounce.ts
  apps/web/lib/persistent-rate-limit.ts
  apps/web/lib/rate-limiter.ts
  apps/web/lib/security-utils.ts
  configs/typescript/package.json
  packages/api-utils/index.ts
  packages/api-utils/index.ts.bak
  packages/api-utils/package.json
  packages/content/package.json
  packages/hooks/src/use-form-state.tsx
  packages/newsletter/package.json
  packages/rate-limiting/index.ts
  packages/security/constants.ts
  packages/security/package.json
  packages/security/sanitization.ts
  packages/security/types.ts
  packages/security/utils.ts
  packages/security/validation.ts
  pnpm-lock.yaml
  sessions/tasks/m-refactor-dry-code.md
Due: check

Add The David Dias | Front to llms.txt directory
  packages/content/data/websites/the-david-dias-front-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: resolve TypeScript errors and restore checkRateLimit function
  .gitignore
  apps/web/__mocks__/@t3-oss/env-nextjs.ts
  apps/web/__mocks__/@thedaviddias/rate-limiting.ts
  apps/web/__tests__/lib/security-rate-limiting.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/app/api/members/__tests__/route.test.ts
  apps/web/app/api/members/route.ts
  apps/web/components/forms/submit-form-step2-content-fields.tsx
  apps/web/components/forms/submit-form.tsx
  apps/web/jest.config.ts
  apps/web/lib/__tests__/security-utils.test.ts
  apps/web/lib/content-loader.ts
  apps/web/lib/env-config.ts
  apps/web/lib/security-utils-helpers.ts
  apps/web/lib/security-utils.ts
  apps/web/middleware.ts
  packages/api-utils/index.ts
  packages/api-utils/index.ts.bak
  packages/api-utils/package.json
  packages/hooks/src/use-form-state.tsx
  packages/rate-limiting/index.ts
  packages/rate-limiting/keys.ts
  packages/security/validation.ts
  pnpm-lock.yaml
Due: check, test-modified

refactor: apply DRY principles and eliminate code duplication (#381)
  .gitignore
  apps/web/__mocks__/@t3-oss/env-nextjs.ts
  apps/web/__mocks__/@thedaviddias/rate-limiting.ts
  apps/web/__tests__/lib/security-rate-limiting.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/app/api/members/__tests__/route.test.ts
  apps/web/app/api/members/contributions/route.ts
  apps/web/app/api/members/route.ts
  apps/web/app/members/members-search.tsx
  apps/web/components/favorites/favorite-button.tsx
  apps/web/components/forms/submit-form-step2-content-fields.tsx
  apps/web/components/forms/submit-form.tsx
  apps/web/hooks/use-debounce.ts
  apps/web/jest.config.ts
  apps/web/lib/__tests__/security-utils.test.ts
  apps/web/lib/content-loader.ts
  apps/web/lib/env-config.ts
  apps/web/lib/persistent-rate-limit.ts
  apps/web/lib/rate-limiter.ts
  apps/web/lib/security-utils-helpers.ts
  apps/web/lib/security-utils.ts
  apps/web/middleware.ts
  configs/typescript/package.json
  packages/api-utils/index.ts
  packages/api-utils/package.json
  packages/content/package.json
  packages/hooks/src/use-form-state.tsx
  packages/newsletter/package.json
  packages/rate-limiting/index.ts
  packages/rate-limiting/keys.ts
  packages/security/constants.ts
  packages/security/package.json
  packages/security/sanitization.ts
  packages/security/types.ts
  packages/security/utils.ts
  packages/security/validation.ts
  pnpm-lock.yaml
  sessions/tasks/m-refactor-dry-code.md
Due: check, test-modified

Add xmcp to llms.txt directory
  packages/content/data/websites/xmcp-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add xmcp to llms.txt directory (#385)
  packages/content/data/websites/xmcp-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Clouve to llms.txt directory
  packages/content/data/websites/clouve-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: plausible blocked by rate limit
  apps/web/middleware.ts
Due: check

fix: plausible blocked by rate limit (#388)
  apps/web/middleware.ts
Due: check

Add Digital Inning to llms.txt directory
  packages/content/data/websites/digital-inning-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Plombier sur Lyon to llms.txt directory
  packages/content/data/websites/plombier-sur-lyon-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: plausible integration
  apps/web/app/layout.tsx
  packages/analytics/head.tsx
  packages/analytics/index.tsx
  packages/analytics/providers/plausible.tsx
  packages/design-system/index.tsx
Due: check

fix: plausible integration (#391)
  apps/web/app/layout.tsx
  packages/analytics/head.tsx
  packages/analytics/index.tsx
  packages/analytics/providers/plausible.tsx
  packages/design-system/index.tsx
Due: check

fix: remove email mention
  apps/web/actions/submit-llms-xxt.ts
Due: check

Add Clouve to llms.txt directory (#387)
  packages/content/data/websites/clouve-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Digital Inning to llms.txt directory (#389)
  packages/content/data/websites/digital-inning-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Plombier sur Lyon to llms.txt directory (#390)
  packages/content/data/websites/plombier-sur-lyon-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add AI Consulting to llms.txt directory (#290)
  packages/content/websites/data/ai-consulting-llms-txt.mdx
Due: none

fix: move Plausible analytics to head section for proper tracking
  .github/workflows/update-websites-json.yml.new
Due: none

fix: improve conversion rates by fixing metadata fetching errors
  apps/web/app/api/fetch-metadata/__tests__/route-error-scenarios.test.ts
  apps/web/app/api/fetch-metadata/__tests__/route.test.ts
  apps/web/app/api/fetch-metadata/route.ts
  apps/web/components/forms/submit-form.tsx
Due: check, test-modified

fix: img instead of Image
  apps/web/app/websites/[slug]/page.tsx
Due: check

feat: optimize homepage performance by reducing initial load
  apps/web/actions/get-home-page-data.ts
  apps/web/app/api/websites/paginated/route.ts
  apps/web/app/page.tsx
  apps/web/components/sections/index.ts
  apps/web/components/static-websites-list.tsx
  apps/web/components/websites-list-with-search.tsx
  apps/web/components/websites-search-controls.tsx
Due: check

fix: make "Load all" button actually load ALL websites progressively
  apps/web/components/static-websites-list.tsx
  apps/web/components/websites-list-with-search.tsx
Due: check

feat: implement infinite scroll with 24 cards per load
  apps/web/components/static-websites-list.tsx
  apps/web/components/websites-list-with-search.tsx
Due: check

debug: add console logging to debug infinite scroll issues
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: move sentinelId declaration to correct scope
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: improve infinite scroll stability
  apps/web/components/websites-list-with-search.tsx
Due: check

debug: add development-only console logging to debug infinite scroll
  apps/web/components/websites-list-with-search.tsx
Due: check

test: add temporary test button to debug infinite scroll
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: remove maxItems limit to display all loaded websites
  apps/web/components/websites-list-with-search.tsx
Due: check

improve: optimize infinite scroll for consistent 24-card loading
  apps/web/app/api/websites/paginated/route.ts
  apps/web/components/websites-list-with-search.tsx
Due: check

fix: add backup scroll listener for fast scrolling
  apps/web/components/websites-list-with-search.tsx
Due: check
