Repository thedaviddias/llms-txt-hub: changes, and which lefthook commands are due for each by the changed paths.
All: check, check-frontmatter, check-mdx-length, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

lefthook.yml:

# Lefthook Configuration
# Using existing validation scripts

pre-commit:
  parallel: true
  commands:
    # Code formatting and linting
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

    # Package.json sorting
    sort-package-json:
      glob: "**/{package.json}"
      exclude: "node_modules/**"
      run: pnpm dlx sort-package-json {staged_files}
      stage_fixed: true

    # MDX content validation
    check-frontmatter:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-frontmatter.ts {staged_files}

    check-mdx-length:
      glob: "packages/content/data/websites/*.mdx"
      run: pnpm tsx scripts/check-mdx-length.ts {staged_files}

    # TypeScript as casts validation
    check-as-casts:
      glob: "**/*.{ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-as-casts.js {staged_files}

    # Barrel files validation
    check-barrel-files:
      glob: "**/index.{js,ts,jsx,tsx}"
      exclude: "**/node_modules/**"
      run: node scripts/validation/check-barrel-files.js {staged_files}

    # Console logs validation
    check-console-logs:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
        - "scripts/**"
        - "**/scripts/**"
        - "packages/validators/**"
        - "**/packages/validators/**"
        - "packages/generator/**"
        - "**/packages/generator/**"
        - "packages/cli/**"
        - "**/packages/cli/**"
      run: node scripts/validation/check-console-logs.js {staged_files}

    # Directory structure validation
    check-directory-structure:
      run: node scripts/validation/check-directory-structure.js

    # File complexity validation
    check-file-complexity:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-file-complexity.js {staged_files}

    # JSDoc validation
    check-jsdoc:
      glob: "**/*.{js,jsx,ts,tsx}"
      exclude:
        - "**/node_modules/**"
        - "**/*.test.*"
        - "**/*.spec.*"
      run: node scripts/validation/check-jsdoc.js {staged_files}

    # Relative imports validation
    check-relative-imports:
      glob: "apps/web/**/*.{ts,tsx,js,jsx}"
      exclude: "apps/web/**/node_modules/**"
      run: pnpm tsx scripts/check-relative-imports.ts {staged_files}

    # Test modified test files
    test-modified:
      glob: "apps/web/**/*.{test,spec}.{js,ts,tsx}"
      run: cd apps/web && pnpm test:related {staged_files}

# Pre-push validation
pre-push:
  commands:
    # Run tests
    test-all:
      run: turbo test --filter=web

# Commit message validation
commit-msg:
  commands:
    lint-commit-message:
      run: pnpm commitlint --edit {1}

docs(code): complete request helper contracts
  apps/web/actions/record-submission-support.test.ts
  apps/web/proxy.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(submissions): keep social acknowledgement out of authorization
  apps/web/__tests__/integration/submit-project-happy-path.test.tsx
  apps/web/__tests__/utils/real-submission-helpers.tsx
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
  apps/web/actions/record-submission-support.test.ts
  apps/web/actions/record-submission-support.ts
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/app/api/fetch-metadata/__tests__/route.test.ts
  apps/web/app/api/fetch-metadata/route.ts
  apps/web/components/forms/__tests__/submit-form-concurrency.test.tsx
  apps/web/components/forms/__tests__/submit-form-entry.test.tsx
  apps/web/components/forms/__tests__/submit-form-focus.test.tsx
  apps/web/components/forms/__tests__/submit-form-metadata.test.tsx
  apps/web/components/forms/__tests__/submit-form-support.test.tsx
  apps/web/components/forms/__tests__/submit-form-test-helpers.tsx
  apps/web/components/forms/__tests__/submit-form-url-status.test.tsx
  apps/web/components/forms/__tests__/submit-form.test.tsx
  apps/web/components/forms/submit-form-schemas.ts
  apps/web/components/forms/submit-form-support.tsx
  apps/web/components/forms/submit-form.tsx
  apps/web/components/forms/use-submit-form-metadata.ts
  apps/web/components/forms/use-submit-publication.ts
  apps/web/lib/__tests__/submission-analytics-flow.test.ts
  apps/web/lib/submissions/submission-action-input.ts
  apps/web/lib/submissions/submission-support.test.ts
  apps/web/lib/submissions/submission-support.ts
  docs/superpowers/specs/2026-08-01-trusted-automatic-submissions-design.md
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(web): restore branded submission social cards
  apps/web/components/forms/submit-form-support.tsx
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

feat(community): add GitHub Docs
  packages/content/data/websites/github-docs-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Comunicate.top
  packages/content/data/websites/comunicate-top-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(content): remove unsuitable duplicate entries
  README.md
  apps/web/public/search/search-index.json
  data/websites.json
  package.json
  packages/content/data/websites/casino-bonuses-now-llms-txt.mdx
  packages/content/data/websites/coastal-windows-exteriors-llms-txt.mdx
  packages/content/data/websites/daniel-yoon-llms-txt.mdx
  packages/content/data/websites/escorts-in-rio-llms-txt.mdx
  packages/content/data/websites/help-ai-find-you-llms-txt.mdx
  packages/content/data/websites/ibs-audio-llms-txt.mdx
  packages/content/data/websites/llmstxt-generator-llms-txt.mdx
  packages/content/data/websites/pattaya-escorts-llms-txt.mdx
  packages/content/data/websites/pilot-protocol-llms-txt.mdx
Due: check, check-frontmatter, check-mdx-length

fix(submissions): record preflight failure stage
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(csrf): reuse valid browser token
  apps/web/lib/__tests__/csrf-protection.test.ts
  apps/web/lib/csrf-protection.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(submissions): refund retryable rate limits
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
  apps/web/lib/submissions/submission-state-lua.test.ts
  apps/web/lib/submissions/submission-state-security.ts
  apps/web/lib/submissions/submission-state.test.ts
  apps/web/lib/submissions/submission-state.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(submissions): explain rate limit retries
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(submissions): surface retry stage telemetry
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/preflight-submission.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(submissions): parallelize duplicate inspection
  apps/web/lib/submissions/strict-website-loader.test.ts
  apps/web/lib/submissions/strict-website-loader.ts
  apps/web/lib/submissions/submission-duplicates.test.ts
  apps/web/lib/submissions/submission-duplicates.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(submissions): route incomplete duplicate checks to manual review
  apps/web/actions/preflight-submission.test.ts
  apps/web/actions/submit-llms-xxt.test.ts
  apps/web/actions/submit-llms-xxt.ts
  apps/web/lib/submissions/catalogue-duplicate-urls.ts
  apps/web/lib/submissions/pending-duplicate-review.ts
  apps/web/lib/submissions/submission-duplicates-default.test.ts
  apps/web/lib/submissions/submission-duplicates.test.ts
  apps/web/lib/submissions/submission-duplicates.ts
  docs/runbooks/submission-manual-review.md
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

fix(submissions): accept inert comments in llms markdown
  packages/submission-trust/src/llms-content-classifier.test.ts
  packages/submission-trust/src/llms-content-classifier.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc

fix(submissions): report resource rejection evidence
  apps/web/lib/submissions/submission-assessment.test.ts
  apps/web/lib/submissions/submission-assessment.ts
Due: check, check-as-casts, check-console-logs, check-file-complexity, check-jsdoc, test-modified

feat(review): add submission decision cards
  docs/runbooks/direct-pr-assessment.md
  scripts/pr-backfill-dry-run.ts
  scripts/pr-direct-assessment.test.ts
  scripts/pr-review-card.ts
  scripts/pr-triage.test.ts
Due: check, check-as-casts, check-file-complexity, check-jsdoc

feat(content): add SearchD to llms.txt directory
  packages/content/data/websites/searchd-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add CodeQlik
  packages/content/data/websites/codeqlik-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Berita Terbaru Hari ini
  packages/content/data/websites/berita-terbaru-hari-ini-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Belajarlagi
  packages/content/data/websites/belajarlagi-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add TrickyBird
  packages/content/data/websites/trickybird-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add llmsFullUrl
  packages/content/data/websites/trickybird-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(kids-stay): match the entry to the current kids-stay.com documentation
  packages/content/data/websites/kids-stay-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Erkonsan İnşaat
  packages/content/data/websites/erkonsan-insaat-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add Shared Persistence
  packages/content/data/websites/shared-persistence-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix(kids-stay): re-align the entry with the site after the 2026-09-09 release
  packages/content/data/websites/kids-stay-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

docs: add FITsociety developer documentation
  packages/content/data/websites/fitsociety-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Jagelski & Partners
  packages/content/data/websites/jagelski-partners-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Posnic POS llms.txt entry
  packages/content/data/websites/posnic-pos-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

fix: distinguish Posnic canonical and preferred domains
  packages/content/data/websites/posnic-pos-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Correct Posnic website backlink
  packages/content/data/websites/posnic-pos-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Wealth Management Services
  packages/content/data/websites/wealth-management-services-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Use exact Posnic website hostname
  packages/content/data/websites/posnic-pos-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Campusraja
  packages/content/data/websites/campusraja-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add IberGour: Spanish Jamón Shop
  packages/content/data/websites/ibergour-spanish-jamon-shop-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Add mock.shop
  packages/content/data/websites/mock-shop-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

Apply suggestion from @coderabbitai[bot]
  packages/content/data/websites/mock-shop-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat(community): add Slacker SEO
  packages/content/data/websites/slacker-seo-llms-txt.mdx
Due: check-frontmatter, check-mdx-length

feat: add Unicorn Screener to llms.txt hub
  packages/content/data/websites/unicorn-screener-llms-txt.mdx
Due: check-frontmatter, check-mdx-length
